/*class命名规则：以字母加破折号的方式，例如，f-left*/
/*img命名规则：以属性-位置的方式，例如，logo-nav   logo-foot*/
*{margin:0px;padding:0px;border:0px;}
ul,li{list-style-type:none;}
a{text-decoration:none; outline:none;cursor: pointer;}
a:hover{text-decoration:none;cursor: pointer;}
em{font-style: normal;}
table{border-collapse: collapse;border-spacing: 0;border: 0;}
input{font-size:inherit;vertical-align:middle;outline: none;}
select{font-size:inherit;vertical-align:middle;outline: none;}

/*补充公用class类  begin*/
.f-left{float: left;}
.f-right{float: right;}
.clear{clear:both;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;/*IE/7/6*/}
.none{display:none;}
.padding-left-right-0{padding: 0px;}
.opacity100{opacity: 1;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';filter:alpha(opacity=100);}
.opacity0{opacity: 0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';filter:alpha(opacity=0);}
/*补充公用class类  end*/

/*网站字体、字号、颜色 begin*/
@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../font/Roboto-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../font/Roboto-Light.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../font/Roboto-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../font/Roboto-Medium.woff') format('woff');
}
html{font-family:"Roboto Light","Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;height:100%;}
.nav-con{font-size: 0.75rem;}
.footer-con{font-size: 0.7rem;color:#666666;}
.banner-main-tit{font-family:"Roboto Thin"!important;font-size: 2.0rem;line-height: 2.2rem;margin-bottom: 1rem;}
.banner-sub-tit{font-size: 2.0rem;line-height: 2.2rem;font-family:"Roboto Medium"!important;}
.maintitle{font-family:Helvetica !important;font-size: 2.0rem;line-height: 2.2rem;margin-bottom: 1rem;}
.subtitle{font-size: 1.0rem;line-height: 1.2rem;}

.footer-con a{color:#666666;}
.footer-con a:hover{color:#333333;}
a{color:#000;text-decoration:none;}
a:hover,a:visited,a:active{text-decoration:none;}
/* 1000px以上 */
@media screen and (min-width:1024px) {
html{font-size: 20px; }
.common-btn{width:166px;height: 46px;background: #14b8e2;font-size: 16px;
font-family:"Roboto Medium"!important;text-align: center;line-height: 46px;display: inline-block;color:#fff;border-radius: 23px;}
.hidden-small{display: none;}
}
/* 768px到999px   */
@media screen and (min-width:769px) and (max-width:1023px) {
html{font-size: 18px;}
.nav-con{font-size: 0.86rem;}
.footer-con{color:#333333;font-size: 0.86rem;}
.footer-con a{color:#333333;}
.footer-con a:hover{color:#333333;}
.hidden-small{display: none;}
.common-btn{width:166px;height: 46px;background: #14b8e2;font-size: 16px;
font-family:"Roboto Medium"!important;text-align: center;line-height: 46px;display: inline-block;color:#fff;border-radius: 23px;}
}
/*768px以下  iphone 6p  iphone 6sp  iphone 7p*/
@media screen and (max-width:768px) {
html{font-size: 16px; }
.nav-con{font-size: 1.2rem;}
.footer-con{color:#333333;font-size: 0.86rem;}
.footer-con a{color:#333333;width:100%;display: inline-block;}
.footer-con a:hover{color:#333333;}
.hidden-large{display: none;}
.common-btn{width:8rem;height:3rem;background: #14b8e2;font-size:1.0rem;
font-family:"Roboto Medium"!important;text-align: center;line-height:3rem;display: inline-block;color:#fff;border-radius: 23px;}
}
/* iphone 6   iphone 6s  iphone 7*/
@media screen and (max-width:375px) {
html{font-size: 14px; }
.nav-con{font-size: 1.2rem;}
.footer-con{color:#333333;font-size: 0.86rem;}
.footer-con a{color:#333333;}
.footer-con a:hover{color:#333333;}
}
/* iphone 3 4 5 */
@media screen and (max-width:320px) {
html{font-size: 12px; }
.nav-con{font-size: 1.2rem;}
.footer-con{color:#333333;font-size: 0.86rem;}
.footer-con a{color:#333333;}
.footer-con a:hover{color:#333333;}
}
/*网站字体、字号、颜色 end*/