/*class命名规则：以字母加破折号的方式，例如，f-left*/
/*img命名规则：以属性-位置的方式，例如，logo-nav   logo-foot*/
*{margin:0px;padding:0px;border:0px;}
ul,li{list-style-type:none;}
a{text-decoration:none; outline:none;cursor: pointer;}
a:hover{text-decoration:none;cursor: pointer;}
em{font-style: normal;}
table{border-collapse: collapse;border-spacing: 0;border: 0;}
input{font-size:inherit;vertical-align:middle;outline: none;}
select{font-size:inherit;vertical-align:middle;outline: none;}

/*补充公用class类  begin*/
.f-left{float: left;}
.f-right{float: right;}
.clear{clear:both;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.none{display:none;}
.padding-left-right-0{padding: 0px;}
.opacity100{opacity: 1;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';filter:alpha(opacity=100);}
.opacity0{opacity: 0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';filter:alpha(opacity=0);}
/*补充公用class类  end*/

/*网站字体、字号、颜色 begin*/
@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../font/Roboto-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../font/Roboto-Light.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../font/Roboto-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../font/Roboto-Medium.woff') format('woff');
}
html{font-family:"Roboto Light","Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;height:100%;}
/*the common "class" in the website  begin    by jennifer 2016.09.28 */
.nav-con{font-size: 0.75rem;font-family:"Roboto Regular"!important;}
.footer-con{font-size: 0.7rem;color:#666666;}
.banner-main-tit{font-family:"Roboto Thin"!important;font-size: 2.0rem;line-height: 2.2rem;margin-bottom: 1rem;}
.banner-sub-tit{font-size: 2.0rem;line-height: 2.2rem;font-family:"Roboto Medium"!important;}
.store-maintit{font-family:"Roboto Thin"!important;font-size: 2.4rem;line-height: 2.6rem;margin-bottom: 1rem;}
.store-subtit{font-size: 1.1rem;line-height: 1.2rem;}
.footer-con a{color:#666666;font-family:"Roboto Regular"!important;}
.footer-con a:hover{color:#333333;}
a{color:#000;text-decoration:none;}
a:hover,a:visited,a:active{text-decoration:none;}
.maintitle{font-size: 1.9rem;line-height: 1.9rem;margin-bottom: 1.1rem;color:#333;text-align: center;}
.subtitle{font-size: 1.1rem;line-height: 1.4rem;color:#666;}
.banner-maintitle{font-size: 2.6rem;line-height: 3rem;font-family:"Roboto Thin"!important;}
.banner-subtitle{font-size: 1.1rem;margin-top: 1.4rem;line-height: 1.4rem;}
.buy-now{font-family:"Roboto Medium"!important;width:8.3rem;height: 2.15rem;background: #14b8e2;line-height: 2.15rem;display: inline-block;border-radius: 1.2rem;
color:#fff;font-size: 0.9rem;text-align: center;margin-right: 25px;}
.buy-now:hover{background: #00cbff;color:#0082ac;}
.watch-video-text,.watch-video-icon{display: inline-block;}
.banner-point{margin-top: 4rem;}
.watch-video{display: inline-block;height: 43px;line-height: 43px;}
.watch-video-text{font-family:"Roboto Medium"!important;font-size: 0.9rem;color:#fff;margin-right: 12px;}
.watch-video-icon{float: right;width:34px;height: 34px;line-height: 34px;text-align: center;background:transparent;border-radius: 50%;border: 2px solid #1cc7e9;margin-top: 3px;}
.watch-video-icon.wvi-active{background: #1cc7e9;border: 2px solid #1cc7e9;}
.watch-video-icon-arrow{display:inline-block;width: 0;height: 0;border-top: 9px solid transparent;border-left: 12px solid #1cc7e9;border-bottom: 9px solid transparent;margin: 8px 0px 0px 4px;}
.watch-video-icon.wvi-active .watch-video-icon-arrow{border-top: 9px solid #1cc7e9;
border-left: 12px solid #ffffff;border-bottom: 9px solid #1cc7e9;margin: 8px 0px 0px 5px;}
.explore-con{display: none;}
.explore-con-phone{display: none;}
.parametric-main-tit{font-size: 1.4rem;line-height: 1.5rem;color: #333;}
.parametric-sub-tit{font-size: 0.9rem;line-height: 1rem;color:#666;}
.explore-btn{display: inline-block;margin-top: 2.5rem;height: 4rem;}
.arrow-down-icon{width:40px;height: 30px;display: inline-block;background: url(../images/down-arrow.png);opacity: 1;
background-position: 0px -34px;margin-top: 0.8rem;}
/*the common "class" in the website  end    by jennifer 2016.10.08 */

/* 1000px以上 */
@media screen and (min-width:1024px) {
html{font-size: 20px; }
.common-btn{width:166px;height: 46px;background: #14b8e2;font-size: 16px;
font-family:"Roboto Medium"!important;text-align: center;line-height: 46px;display: inline-block;color:#fff;border-radius: 23px;}
.hidden-small{display: none;}
.inside-page-con{width:1000px;margin: 0 auto;}
.large-block{display: block;}
.small-block{display:none;}
}
/* 768px到999px   */
@media screen and (min-width:769px) and (max-width:1023px) {
html{font-size: 18px;}
.nav-con{font-size: 0.86rem;}
.footer-con{color:#333333;font-size: 0.86rem;}
.footer-con a{color:#333333;}
.footer-con a:hover{color:#333333;}
.hidden-small{display: none;}
.common-btn{width:166px;height: 46px;background: #14b8e2;font-size: 16px;
font-family:"Roboto Medium"!important;text-align: center;line-height: 46px;display: inline-block;color:#fff;border-radius: 23px;}
.inside-page-con{width:98%;padding: 0 1%;}
.hidden-769-1023{display: none;}
.show-769-1023{display: block;}
.large-block{display: block;}
.small-block{display:none;}
}
/*768px以下  iphone 6p  iphone 6sp  iphone 7p*/
@media screen and (max-width:768px){
html{font-size: 16px; }
.nav-con{font-size: 1.2rem;}
.footer-con{color:#333333;font-size: 1rem;}
.footer-con a{color:#333333;width:100%;display: inline-block;}
.footer-con a:hover{color:#333333;}
.hidden-large{display: none;}
.common-btn{width:8rem;height:3rem;background: #14b8e2;font-size:1.0rem;
font-family:"Roboto Medium"!important;text-align: center;line-height:3rem;display: inline-block;color:#fff;border-radius: 23px;}
.inside-page-con{width:94%;padding: 0 3%;}
.bg-phone{width:100%;max-width: 100%;}
.banner-maintitle{font-size: 2.6rem;font-family:"Roboto Thin"!important;}
.banner-subtitle{font-size: 1.1rem;margin-top: 1.4rem;}
.watch-video{margin-top: 2rem;padding-left: 8px;}
.watch-video-icon-arrow{border-top: 4px solid transparent;border-left: 6px solid #1cc7e9;border-bottom: 4px solid transparent;margin: 5px 0px 0px 1px;}
.watch-video-icon{width:17px;height: 17px;line-height: 17px;margin-top: 9px;}
.video-close-phone{position: fixed; right: 20px; top: 30px; z-index: 3001; display: block; color: rgb(255, 255, 255); font-size: 24px;display: none;}
.watch-video-icon{float: none;}
.arrow-down-icon{background: url(../images/down-arrow.png);background-position: 0px 0px;}
.large-block{display:none;}
.small-block{display:block;}
}
/* iphone 6   iphone 6s  iphone 7*/
@media screen and (max-width:375px) {
html{font-size: 14px; }
.nav-con{font-size: 1.2rem;}
.footer-con{color:#333333;font-size: 1rem;}
.footer-con a{color:#333333;}
.footer-con a:hover{color:#333333;}
}
/* iphone 3 4 5 */
@media screen and (max-width:320px) {
html{font-size: 12px; }
.nav-con{font-size: 1.2rem;}
.footer-con{color:#333333;font-size: 1rem;}
.footer-con a{color:#333333;}
.footer-con a:hover{color:#333333;}
.common-btn{width:9rem;}
}
/*网站字体、字号、颜色 end*/

/*the common dialog    begin    by jennifer 2016.10.08 */
body { _margin:0; _height:100%; /*IE6 BUG*/ }
.aui_outer { text-align:left; }
table.aui_border, table.aui_dialog { border:0; margin:0; border-collapse:collapse; width:auto; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_c, .aui_e, .aui_sw, .aui_s, .aui_se, .aui_header, .aui_tdIcon, .aui_main, .aui_footer { padding:0; }
.aui_header, .aui_buttons button { font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; _font-family:Tahoma,Arial,Helvetica,STHeiti; 
-o-font-family: Tahoma, Arial; }
.aui_title { overflow:hidden; text-overflow: ellipsis; }
.aui_state_noTitle .aui_title { display:none; }
.aui_close { display:block; position:absolute; text-decoration:none; outline:none; _cursor:pointer; }
.aui_close:hover { text-decoration:none; }
.aui_main { text-align:center; min-width:9em; min-width:0\9/*IE8 BUG*/; }
.aui_content { display:inline-block; *zoom:1; *display:inline; text-align:left; border:none 0; }
.aui_content.aui_state_full { display:block; width:100%; margin:0; padding:0!important; height:100%; }
.aui_loading { width:96px; height:32px; text-align:left; text-indent:-999em; overflow:hidden;/* background:url(icons/loading.gif) no-repeat center center; */}
.aui_icon { vertical-align: middle; }
.aui_icon div { width:48px; height:48px; margin:10px 0 10px 10px; background-position: center center; background-repeat:no-repeat; }
.aui_buttons { padding:8px; text-align:right; white-space:nowrap; }
.aui_buttons button { margin-left:15px; padding: 6px 8px; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 10px; *height:2em;
 letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #333; border: solid 1px #999; 
 border-radius: 5px; background: #DDD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); 
 background: linear-gradient(top, #FFF, #DDD); background: -moz-linear-gradient(top, #FFF, #DDD); 
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); 
 box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); 
 -moz-transition:-moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s; }
.aui_buttons button::-moz-focus-inner{ border:0; padding:0; margin:0; }
.aui_buttons button:focus { outline:none 0; border-color:#426DC9; box-shadow:0 0 8px rgba(66, 109, 201, .9); }
.aui_buttons button:hover { color:#000; border-color:#666; }
.aui_buttons button:active { border-color:#666; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF');
 background: linear-gradient(top, #DDD, #FFF); background: -moz-linear-gradient(top, #DDD, #FFF); 
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#FFF)); 
 box-shadow:inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3); }
.aui_buttons button[disabled] { cursor:default; color:#666; background:#DDD; border: solid 1px #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }
button.aui_state_highlight { color: #FFF; border: solid 1px #1c6a9e; background: #2288cc; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); 
  background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); 
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); text-shadow: -1px -1px 1px #1c6a9e; }
button.aui_state_highlight:hover { color:#FFF; border-color:#0F3A56; }
button.aui_state_highlight:active { border-color:#1c6a9e; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); 
background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); }
.aui_inner { height:480px; background:#FFF; border: 8px solid #17171a}
.aui_titleBar { width:100%; height:0; position:relative; bottom:30px; _bottom:0; _margin-top:-30px; }
.aui_title { height:29px; line-height:29px; padding:0 16px 0 0; _padding:0; color:#FFF; font-weight:700; text-shadow:1px 1px 0 rgba(0, 0, 0, .9); }
.aui_nw { width:14px; height:34px; background-position: 0 0;}
.aui_ne { width:14px; height:34px; background-position: -14px 0;}
.aui_sw { width:14px; height:14px; background-position: 0 -34px; }
.aui_se { width:14px; height:14px; background-position: -14px -34px;}
.aui_close { top:0; right:-30px; _z-index:1; width:48px; height:48px; _font-size:0; _line-height:0; text-indent:-9999em; background:url(../images/closed.png);}
.aui_n, .aui_s { background-repeat:repeat-x; }
.aui_n { background-position: 0 -48px;}
.aui_s { background-position: 0 -82px;}
.aui_w { background-position:left top;}
.aui_e { background-position: right bottom;}
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_se { width:3px; height:3px; }
.aui_state_noTitle .aui_inner { border:1px solid #666; background:#FFF; }
.aui_state_noTitle .aui_outer { box-shadow:none; }
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_n, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_w, .aui_state_noTitle .aui_e, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_s, .aui_state_noTitle .aui_se { background:rgba(0, 0, 0, .05); background:#000\9!important; filter:alpha(opacity=5)!important; }
.aui_state_noTitle .aui_titleBar { bottom:0; _bottom:0; _margin-top:0; }
.aui_state_noTitle .aui_close { top:0; right:0; width:18px; height:18px; line-height:18px; text-align:center; text-indent:0; font-family: Helvetica, STHeiti; _font-family: '\u9ed1\u4f53', 'Book Antiqua', Palatino; font-size:18px; text-decoration:none; color:#214FA3; background:none; filter:!important; }
.aui_state_noTitle .aui_close:hover, .aui_state_noTitle .aui_close:active { text-decoration:none; color:#900;}
/*the common dialog   end    by jennifer 2016.10.08 */
/*modal  begin*/
#modal{width:100%;height: 100%;overflow-x:hidden;overflow-y:auto;background: #000000;z-index: 1000;position: fixed;
 left:0px;top:0px;opacity: 0.5;display: none;}
#modal.open{display: block;}
.modal-dialog{width:600px;margin: 30px auto;transition:all 1s;} 
.modal-content{-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);box-shadow: 0 5px 15px rgba(0,0,0,0.5);
position: relative;background-color: #fff;-webkit-background-clip: padding-box;background-clip: padding-box;
border-radius: 6px;outline: 0;}
.modal-header{min-height: 16.43px;padding: 15px;border-bottom: 1px solid #e5e5e5;}
.modal-body {position: relative;padding: 15px;}
.close{float: right;font-size: 21px;font-weight: 700;line-height: 1;color: #000;text-shadow: 0 1px 0 #fff;
filter: alpha(opacity=20);opacity: .2;text-decoration: none;}
.modal-title{margin: 0;line-height: 1.42857143}
#modal.modal-fade.modal-in{opacity:0.5;display: block;}
#modal.modal-fade{opacity: 0;-webkit-transition: opacity .15s linear;-o-transition: opacity .15s linear;transition: opacity .15s linear;}
.modal.modal-fade .modal-dialog{transition:transform 1s;-webkit-transition: -webkit-transform 1s ease-out;
-o-transition:transform 1s ease-out;transition: transform 1s ease-out;-webkit-transform: translate(0,-55%);
-ms-transform: translate(0,-55%);-o-transform: translate(0,-55%);transform: translate(0,-55%);}
.modal.modal-in .modal-dialog{-webkit-transform: translate(0,0);
-ms-transform: translate(0,0);-o-transform: translate(0,0);transform: translate(0,0);}
/*modal  end*/