@media screen and (max-width: 768px){
/*common nav     begin      2016.09.22       written by jennifer*/
 #zmodo-nav{height: 48px;max-height: none;-webkit-transition:background 0.35s linear,height 0.35s ease-in 200ms;
 transition:background 0.35s linear,height 0.35s ease-in 200ms;}
 .nav-con .nav-link-zmodo{background-repeat:no-repeat;background-size: 307px 125px;background-image:url("../images/icon-iphone.png");
 background-position: 0px 13px;width: 97.5px;height: 48px;}
 #zmodo-nav.nav-active{height: 100%;}
 #zmodo-nav.nav-active .nav-con{height: 100%;}
 a.nav-menuicon-label-bread{display: block;}
 a.nav-menuicon-label-bread:hover{cursor: pointer;}
.nav-header{display: block;position:absolute;z-index:3;top:0;left:0;width:100%;height:48px;overflow:hidden;background: #14b8e2;}
.nav-con{padding: 0px 0px;}
#zmodo-nav .nav-list{margin: 0px 0px;position:absolute;z-index:2;top:48px;right:0;bottom:0;left:0;margin:0;padding:0 12px;height:auto;box-sizing:border-box;
overflow:hidden;overflow-y:auto;visibility:hidden;-webkit-overflow-scrolling:touch;-webkit-transition:visibility 0s linear 0.25s; transition:visibility 0s linear 0.25s;}
.nav-link-bag{background:url("../images/icon-bag-medium-phone.png") no-repeat  0px 14px;width:23px;height:55px;background-size: 22px 19px;}
.nav-con .nav-bag{position: absolute;right:15px;top:0px;}
.nav-con .nav-zmodo{vertical-align: middle;position: absolute;left:50%;top:0px;margin-left: -48.75px;}
.nav-con .nav-menuicon{position: absolute;top:-3px;width:48px;}
.nav-menuicon-label{opacity:1;-webkit-transition:-webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);width:48px;height: 55px;display: block;
transition:-webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99)}
.nav-menuicon-label .nav-menuicon-bread-top{-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99),
-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);z-index:4;}
.nav-menuicon-bread{position:absolute;z-index:3;top:0px;left:0;width:48px;height:55px;
-webkit-transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)}
.nav-menuicon-label .nav-menuicon-bread-bottom{-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition:transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), 
-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}    
.nav-menuicon-bread-crust{display:block;width:18.5px;height:2px;background:#fff;position:absolute;
left:16px;z-index:1;-webkit-transition:-webkit-transform 0.2s;transition:-webkit-transform 0.2s;
transition:transform 0.2s;transition:transform 0.2s, -webkit-transform 0.2s}
.nav-menuicon-bread-crust-top{top:24px;-webkit-transition:-webkit-transform 0.2s 0.2s;transition:-webkit-transform 0.2s 0.2s;
transition:transform 0.2s 0.2s;transition:transform 0.2s 0.2s,  -webkit-transform 0.2s 0.2s;-webkit-transform:translateY(-3px);-ms-transform:translateY(-3px);transform:translateY(-3px)}
.nav-menuicon-bread-crust-bottom{bottom:24px;-webkit-transform:translateY(3px);-ms-transform:translateY(3px);transform:translateY(3px)}
.nav-list  .nav-item{width:88%;margin: 0  auto;}
#zmodo-nav .nav-con .nav-item-zmodo{display: none;}
#zmodo-nav.nav-active  .nav-con .nav-item-user{display: none;}
.nav-con .nav-link-search{background-position:left center;display:block;outline-offset:0;padding:0;width:auto;max-width:none;
	background: url("../images/image_large.svg") no-repeat;}
.nav-search-placeholder{margin-left:28px;cursor:text;  display:block;}
.nav-searchview-con{position:absolute;top:47px;left:8%;width:84%;z-index:3;}
#zmodo-nav.nav-active .nav-menuicon-label  .nav-menuicon-bread-top{-webkit-transition:-webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition:-webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition:transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition:transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), 
        -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
#zmodo-nav.nav-active .nav-menuicon-label{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);}        
#zmodo-nav.nav-active .nav-menuicon-label  .nav-menuicon-bread-bottom{-webkit-transition:-webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
 transition:-webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);transition:transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
 transition:transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
 -webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}        
#zmodo-nav.nav-active  .nav-menuicon-label  .nav-menuicon-bread-crust-top{-webkit-transition:-webkit-transform 0.2s;transition:-webkit-transform 0.2s;
 transition:transform 0.2s;transition:transform 0.2s, -webkit-transform 0.2s;-webkit-transform:translateY(1px);-ms-transform:translateY(1px);transform:translateY(1px)}
 #zmodo-nav.nav-active .nav-menuicon-label  .nav-menuicon-bread-crust-bottom{-webkit-transition:-webkit-transform 0.2s;transition:-webkit-transform 0.2s;
 transition:transform 0.2s;transition:transform 0.2s, -webkit-transform 0.2s;-webkit-transform:translateY(-1px);-ms-transform:translateY(-1px);transform:translateY(-1px)}
.nav-con .nav-link-bag{-webkit-transition:-webkit-transform  0.55s ease-out;transition:-webkit-transform  0.55s ease-out;
transition:transform  0.55s ease-out;transition:transform  0.55s ease-out, -webkit-transform  0.55s ease-out;}
.nav-con .nav-link-bag{-webkit-transition:-webkit-transform  0.55s ease-out;transition:-webkit-transform  0.55s ease-out;
transition:transform  0.55s ease-out;transition:transform  0.55s ease-out, -webkit-transform  0.55s ease-out;}
#zmodo-nav.nav-active    .nav-link-bag{-webkit-transform:translateX(200%);-ms-transform:translateX(200%);transform:translateX(200%);}
#zmodo-nav.nav-active  .nav-list{visibility:visible;z-index: 2;}
#zmodo-nav  .nav-item-menu{height:auto;opacity:0;pointer-events:none;-webkit-transform:scale(1.1) translateY(-24px);
-ms-transform:scale(1.1) translateY(-24px);transform:scale(1.1) translateY(-24px);-webkit-transition:opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
transition:opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;transition:opacity 0.35s ease-out, transform 0.35s ease-out;
transition:opacity 0.35s ease-out, transform 0.35s ease-out, -webkit-transform 0.35s ease-out;}
#zmodo-nav  .nav-item-menu .nav-link{border-bottom:1px solid #4dcef0;width:100%;}
#zmodo-nav  .nav-item-menu .nav-link-product{border-bottom: 1px solid #4dcef0;}
#zmodo-nav  .nav-item-menu.nav-item-menu-show .nav-link-product{border-bottom: 1px solid #14b8e2;}
#zmodo-nav  .nav-item-menu p{color:#fff;width:100%;}
#zmodo-nav.nav-active   .nav-item-menu{opacity:1;pointer-events:auto;-webkit-transform:none;-ms-transform:none;transform:none}
#zmodo-nav.nav-active   .nav-item-menu:nth-child(2){-webkit-transition-delay:300ms,300ms;transition-delay:300ms,300ms;}
#zmodo-nav.nav-active   .nav-item-menu:nth-child(3){-webkit-transition-delay:350ms,350ms;transition-delay:350ms,350ms;}
#zmodo-nav.nav-active   .nav-item-menu:nth-child(4){-webkit-transition-delay:400ms,400ms;transition-delay:400ms,400ms;}
#zmodo-nav.nav-active  .nav-item-menu:nth-child(5){-webkit-transition-delay:450ms,450ms;transition-delay:450ms,450ms;}
#zmodo-nav.nav-active   .nav-item-menu:nth-child(6){-webkit-transition-delay:500ms,500ms;transition-delay:500ms,500ms;}
#zmodo-nav.nav-active   .nav-item-menu:nth-child(7){-webkit-transition-delay:550ms,550ms;transition-delay:550ms,550ms;border-bottom: 1px solid #fff;}
.nav-searchview-close{left:50%;margin-left:-24px;width:48px;height:48px;z-index:3;overflow:hidden;top:5px;}
.nav-con .none{display: none;}
#zmodo-nav .nav-searchview-close-left{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
#zmodo-nav .nav-searchview-close-right{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.nav-searchview-con{opacity: 0;}
.nav-searchform-submit{top:0px;}
#zmodo-nav  .nav-list{transform:translateY(0px);}
#zmodo-nav  .nav-searchview-con{transform:translateY(0px);}
#zmodo-nav.nav-active  .nav-searchview-con{transform:translateY(-5px);}
#zmodo-nav.nav-active  .nav-searchview-con{opacity: 0;}
#zmodo-nav .nav-zmodo{opacity: 1;transform:translateY(0px);}
#zmodo-nav.nav-active  .nav-item-menu{display: block;}
#zmodo-nav.nav-active.searchshow  .nav-searchview{opacity: 1;}
#zmodo-nav.nav-active .nav-searchview-con{opacity: 0;-webkit-transition:opacity 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);transition:opacity 0.6s  cubic-bezier(0.645, 0.045, 0.355, 1);}
#zmodo-nav.nav-active.searchshow .nav-searchview-con{opacity: 1;-webkit-transition:opacity 0.2s  cubic-bezier(0.645, 0.045, 0.355, 1),transform 0.2s  cubic-bezier(0.645, 0.045, 0.355, 1);
transition:opacity 0.2s  cubic-bezier(0.645, 0.045, 0.355, 1),transform 0.2s  cubic-bezier(0.645, 0.045, 0.355, 1);
transform:translateY(0px);}
#zmodo-nav.nav-active.searchshow  .nav-list{transform:translateY(-350px);transition:transform 0.1s  cubic-bezier(0.645, 0.045, 0.355, 1);
-webkit-transform:translateY(-350px);-webkit-transition:-webkit-transform 0.1s  cubic-bezier(0.645, 0.045, 0.355, 1);
-ms-transform:translateY(-350px);-ms-transition:-ms-transform 0.1s  cubic-bezier(0.645, 0.045, 0.355, 1);}
#zmodo-nav.nav-active.searchshow  .nav-item-menu{opacity: 0;}
.nav-searchview-close-left, .nav-searchview-close-right{width:1px;}
#zmodo-nav .nav-searchview-close-wrapper{opacity: 0;}
.nav-searchform-wrapper{border-bottom: 1px solid #fff;}
.nav-con .nav-item{height: 45px;}
#zmodo-nav .nav-link-product-item li a{display: inline-block;width:100%;padding-left: 45px;background-size: 30px  30px;background-repeat: no-repeat;
background-position: 0 center;}
#zmodo-nav .nav-link-product-item li.nav-link-product-item05{border-bottom: 1px solid #4dcef0;}
#zmodo-nav .nav-link-product-item li.nav-link-product-item01 a{background-image:url("../images/navpivot.png");}
#zmodo-nav .nav-link-product-item li.nav-link-product-item02 a{background-image:url("../images/navgreet.png");}
#zmodo-nav .nav-link-product-item li.nav-link-product-item03 a{background-image:url("../images/doorlight.png");}
#zmodo-nav .nav-link-product-item li.nav-link-product-item04 a{background-image:url("../images/navreplay.png");}
#zmodo-nav .nav-link-product-item li.nav-link-product-item05 a{background-image:url("../images/navbeam.png");}
.nav-link-arrow{top: 27px;right: 0px;position: absolute;display: inline-block;-webkit-transition:-webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),
-webkit-transform-origin 0.5s cubic-bezier(0.86, 0, 0.07, 1);-ms-transition:-ms-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),
-ms-transform-origin 0.5s cubic-bezier(0.86, 0, 0.07, 1);transition:transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 0.5s cubic-bezier(0.86, 0, 0.07, 1);}
span.nav-link-arrow::before,span.nav-link-arrow::after{background: #ffffff;width:12px;height: 1px; content:"";display: block;}
span.nav-link-arrow::before{-webkit-transform-origin:100% 100%;-ms-transform-origin:100% 100%;transform-origin:100% 100%;
-webkit-transform:rotate(40deg) scaleY(1.5);-ms-transform:rotate(40deg) scaleY(1.5);transform: rotate(40deg) scaleY(1.5);
-webkit-transition:-webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 0.5s cubic-bezier(0.86, 0, 0.07, 1);
-ms-transition:-ms-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),-ms-transform-origin 0.5s cubic-bezier(0.86, 0, 0.07, 1);
transition:transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 0.5s cubic-bezier(0.86, 0, 0.07, 1);position: absolute;right:12px;}	
span.nav-link-arrow::after{-webkit-transform-origin:0% 100%;-ms-transform-origin:0% 100%;transform-origin:0% 100%;
-webkit-transform:rotate(-40deg) scaleY(1.5);-ms-transform:rotate(-40deg) scaleY(1.5);transform: rotate(-40deg) scaleY(1.5);
-webkit-transition:-webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 0.5s cubic-bezier(0.86, 0, 0.07, 1);
-ms-transition:-ms-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),-ms-transform-origin 0.5s cubic-bezier(0.86, 0, 0.07, 1);
transition:transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 0.5s cubic-bezier(0.86, 0, 0.07, 1);position: absolute;right:0px;}
.nav-item-menu.nav-item-menu-show   .nav-link-product span{transform:translateY(-10px);-webkit-transform:translateY(-10px);}
.nav-item-menu.nav-item-menu-show   .nav-link-product  span::before{-webkit-transform-origin:100% 0%;-ms-transform-origin:100% 0%;transform-origin:100% 0%;
-webkit-transform:rotate(-40deg) scaleY(1.5);-ms-transform:rotate(-40deg) scaleY(1.5);transform: rotate(-40deg) scaleY(1.5);}
.nav-item-menu.nav-item-menu-show   .nav-link-product  span::after{-webkit-transform-origin:0% 100%;-ms-transform-origin:0% 100%;transform-origin:0% 100%;
-webkit-transform:rotate(40deg) scaleY(1.5);-ms-transform:rotate(40deg) scaleY(1.5);transform: rotate(40deg) scaleY(1.5);}
.nav-link-product-item{display: none;}
.nav-item-menu-show .nav-link-product-item{display: block;}
/*common nav      end       2016.09.22      written by jennifer*/

/*the home page  on the screen<768     begin      2016.09.30        written by jennifer*/
ul.press-con-item li.press-list{background:none;}
ul.press-con-item li.press-list07{display: none;}
ul.press-con-item li.press-list{width:32.33%;height: auto;text-align: center;}
.press{padding: 0rem 0rem;background: #14b8e2;}
/*the home page  on the screen<768     end      2016.09.30        written by jennifer*/
.row .row-list{width:100%;text-align: center;}
.row-float-left  .row-con{float: none;}
.row01 .row-con{margin-right: 0rem;}
.row-float-right  .row-con{float: none;margin-left: 0rem;}
.row .row-list.hidden-large{display: none;}
.row02 .row-con{margin-right: 0rem;}
.row  .row-list-tit{font-size: 1.8rem;line-height: 2rem;}
.row-list-padding{padding: 4rem 0rem;}
.home-banner .swiper-slide01 .banner-btn{margin-left: -4rem;}
.home-banner .swiper-slide{background:none;height:auto;position: relative;}
.home-banner .swiper-slide01 .banner-subtit{font-size: 2rem;position: absolute;left:50%;margin-left: -8rem;}
.home-banner .swiper-slide01 .banner-btn{top:9.5rem;}
.footer-con .footer-item-subscribe .foot-btn{top: 9px;}
.home-main-table .row-list.hidden-small{display: block;}
.home-replay-phone{width:100%;overflow: hidden;position: relative;}
.home-replay-phone-item{width:200%;transform:translate3d(0,0,0);transition:all 0.5s;display: inline-block;}
.dots{position: absolute;bottom: 20px;width:100%;text-align: center;}
.home-replay-phone-item li{float: left;width:50%;display: inline-block;text-align: center;}
.home-replay-phone-item li a.slide-a{display:inline-block;width:100%;}
.home-replay-phone-item li img{max-width: 100%;width:100%;position: relative;top:0px;left:0px;}
.home-replay-phone td{overflow: hidden;position: relative;}
.home-replay-phone td a{display: inline-block;}
ul.press-con-item li.press-list01{margin-bottom: 2rem;}
ul.press-con-item li.press-list02{margin-bottom: 2rem;}
ul.press-con-item li.press-list03{margin-bottom: 2rem;}
ul.press-con-item li.press-list{height: 56px;}
ul.press-con-item li.press-list img{width:50%;}
.press-con{padding: 2rem 0rem  2rem 0rem;}
.home-imgx2{width:7rem;}
/*the pivot page  on the screen<768     begin      2016.10.08        written by jennifer*/
.banner-point li{display: inherit;}
.pivot-part01{width:100%;background:none;height: auto;}
.product-pivot.pivot-part01 .banner-maintitle{padding-top: 1rem;}
.product-pivot.pivot-part01{position: relative;}
.product-pivot .bg-phone{}
.product-pivot.pivot-part01 .inside-page-con{position: absolute;left:0px;top:48px;}
.product-pivot .maintitle{margin-top: 4rem;}
.pivot-part02 .pivot-press .pivot-press-item{width:100%;padding: 0rem 0rem;text-align: center;}
.pivot-part02 .pivot-press .pivot-press-item:nth-child(1),.pivot-part02 .pivot-press .pivot-press-item:nth-child(2),.pivot-press .pivot-press-item:nth-child(3){width:33.333%;padding: 0rem 0rem;}
.pivot-part02 .pivot-press .pivot-press-item:nth-child(1),.pivot-part02 .pivot-press .pivot-press-item:nth-child(2){border-right:none;}
.pivot-part02 .pivot-press-con{width:100%;overflow: hidden;}
.pivot-part02 .pivot-press{width:300%;}
.pivot-part02 .pivot-press .pivot-press-item{width:33.333%;float: left;}
.product-pivot.pivot-part02 .dots{position: relative;bottom: -10px;}
.pivot-part03 .pivot-advantage .pivot-advantage-icon{background-size: 485px 85px;height: 6.5rem;width:6.5rem;}
.pivot-part03 .pivot-advantage .pivot-advantage-icon01{background-position: 0px 0px;margin-left: 0px;}
.pivot-part03 .pivot-advantage .pivot-advantage-icon02{background-position: -193px 0px;}
.pivot-part03 .pivot-advantage .pivot-advantage-icon03{background-position: -392px 0px;margin-right: 0px;}
.pivot-part03 .pivot-advantage .pivot-advantage-item01,.pivot-part03 .pivot-advantage .pivot-advantage-item03{text-align: center;}
.pivot-part05{height: 48rem;}
.pivot-part05 .pivot-360bg{height: 38rem;}
.pivot-part05 .pivot-rotate-btn{font-size: 0.8rem;padding: 0.5rem 0rem;text-align: center;width:9rem;margin-left: -4.5rem; }
.pivot-part05 .pivot-rotate-btn-left{bottom: 4rem;}
.pivot-part05 .pivot-rotate-btn-right{bottom: 1rem;}
.pivot-part05 .pivot-360rotate-box{top:22rem;}
.pivot-part07-video{width: 20rem;height: 11.5rem;margin: -5.75rem 0 0 -11rem;}
.pivot-part07-btn{position: absolute; top:36rem; left: 5%; margin-left: 0rem;width:90%;height:3rem; }
.pivot-part07-btn li{width:100%;height:3rem; float:none;line-height: 3rem;margin-bottom: 1.5rem;}
.pivot-part07-btn01,.pivot-part07-btn02{display: inline-block;width:100%;height:2.5rem; border: 4px solid #14b8e2;line-height: 2.5rem;
background-color:#14b8e2;text-align: center;font-size: 1.1rem;color:#fff;border-radius: 25px;}
.pivot-part07-btn li a.pivot-part07-active{border: 4px solid #fff;background: #00cbff;}
.pivot-part08-con{width:100%;background: none;text-align: center;}
.pivot-part08-record-phone{display: inline-block;}
.pivot-part09-con{width:90%;}
.pivot-part09{background: none;height: auto;position: relative;}
.pivot-part09 .inside-page-con{position: absolute;left:0px;top:0rem;padding-top: 0rem;}
.pivot-part09 .inside-page-con .subtitle{text-align: center;}
.pivot-part10{margin-top: -3px;}
.pivot-part10-video-box{width:320px;height: 200px;background-size: 320px 200px;padding: 31px 0px 0px 0px;}
.pivot-part10-video{margin-top: -39px;width: 235px;height: 200px;margin-left: 42px;}
.pivot-part10-btn li,.pivot-part10-btn li a{width:7rem;}
.pivot-part10-btn{width:21rem;}
.pivot-part10-btn li a span{width:20px;height: 20px;background-size: 85px 38px;background-repeat: no-repeat;}
.pivot-part10-btn li a.pivot-part10-btn01 span{background-position: -2px 1px;}
.pivot-part10-btn li a.pivot-part10-btn02 span{background-position: -31px 0px;}
.pivot-part10-btn li a.pivot-part10-btn03 span{background-position: -64px 0px;}
.pivot-part10-btn li a.pivot-part10-btn01:hover span{background-position: -2px 1px;}
.pivot-part10-btn li a.pivot-part10-btn02:hover span{background-position: -31px 0px;}
.pivot-part10-btn li a.pivot-part10-btn03:hover span{background-position: -64px 0px;}
.pivot-part04 .pivot-part04-swiper-slide .maintitle{position: absolute;top:3rem;left:5%;width:90%;text-align: center;margin-top:0rem;padding-top: 0rem;}
.pivot-part04 .pivot-part04-swiper-slide .subtitle{position: absolute;top:8rem;left:5%;width:90%;text-align: center;margin-top:0rem;padding-top: 0rem;}
.pivot-part04 .pivot-part04-swiper-slide04 .subtitle{top:10rem;}
.pivot-part04 .pivot-part04-swiper-slide06 .subtitle{top:10rem;}
.product-pivot .maintitle{margin-top: 0rem;padding-top: 4rem;}
.pivot-part08{padding-bottom: 2rem;}
.pivot-part05{margin-top: -8px;}
.pivot-part04 .swiper-container-horizontal>.swiper-pagination{bottom: 30px;}
.pivot-part12 .pivot-part12-table tr td  .bit-detail{width:15rem;}
.pivot-part12 .pivot-part12-table tr td.name  span{margin-left: 0px;float: none;}
.pivot-part12 .pivot-part12-table tr td.name{width:20%;text-align: center;}
.pivot-part12 .pivot-part12-table tr td.name  h3{margin-left: 0px;float: none;}
.pivot-part11-exp-icon{background: url(../images/down-arrow.png);background-position: 0px 0px;}
/*the pivot page  on the screen<768     end      2016.10.08        written by jennifer*/
/*the greet page  on the screen<768     begin      2016.10.12        written by jennifer*/
.product-greet{background: none;position: relative;}
.greet-part01 .inside-page-con{position: absolute;left:0px;top:48px;}
.greet-part01 .banner-subtitle{width:40%;}
.greet-part02 .inside-page-con{position: absolute;left:0px;top:5rem;}
.greet-part03 .inside-page-con{position: absolute;left:0px;top:5rem;}
.greet-part04 .inside-page-con{position: absolute;left:0px;top:5rem;}
.greet-part05 .inside-page-con{position: absolute;left:0px;top:2rem;text-align: center;}
.greet-part05 .maintitle,.greet-part05 .subtitle{color:#fff;}
.greet-part06 .inside-page-con{position: absolute;left:0px;top:2rem;text-align: center;}
.greet-part07 .inside-page-con{position: absolute;left:0px;top:2rem;text-align: center;}
.greet-part07 img{padding-top: 12rem;}
.greet-part05-list{height: auto;}
.greet-part05-item{height: auto;}
.greet-part05 .inside-page-con,.greet-part05 .inside-page-con .maintitle{text-align: left;}
.greet-part05-item{float: none;width:100%;height: 74px;}
.greet-part05-item span{width:60px;height:74px;display: inline-block;background: url(../images/greet/24.png) no-repeat;background-size: 60px 208px; }
.greet-part05-item p{float: right;width:80%;margin-top:12px;}
.greet-part05-item02 p{float: right;width:80%;margin-top:18px;}
.greet-part05 .inside-page-con .subtitle{margin-bottom: 3.5rem;}
.greet-part05-item01 span{background-position: 0px 0px;}
.greet-part05-item02 span{background-position: 0px -74px;}
.greet-part05-item03 span{background-position: 0px -150px;}
.product-greet{margin-top: -0.3rem;}
.greet-part08-item{width:100%;float: none;}
.greet-part08-item .area{float: left;margin-bottom: 0rem;}
.greet-part08-item .txt{float: left;width:73%;margin-top: 1.0rem;}
.greet-part08-item p{width: 100%;}
.greet-part08-item02 .txt{margin-top: 0.5rem;}
.greet-part08-item .parametric-main-tit{margin-bottom: 0.3rem;}
/*the greet page  on the screen<768     end      2016.10.12        written by jennifer*/
}
@media screen and (max-width: 500px){
ul.press-con-item li.press-list{height: 37px;}
}
@media screen and (max-width: 414px){
ul.press-con-item li.press-list{height: 30px;}
.product-pivot.pivot-part01 .banner-maintitle{padding-top: 0rem;}
.greet-part08-item .txt{width:70%;}
}
@media screen and (max-width: 375px){
.footer-con .footer-item .footer-share-item{margin-left: 0px;}
.footer-con .footer-item .footer-share-item06{margin-left: 0px;}
.footer-con .footer-share-item07{width:auto;}
.footer-con .footer-share-item07 a{width:auto;}
.pivot-part10-btn li,.pivot-part10-btn li a{width:6rem;}
.pivot-part10-btn{width:18rem;}
.pivot-part10 .inside-page-con{padding: 0px;}
.pivot-part10-btn li a p{line-height: 10px;}
.greet-part08-item .txt{width:65%;}
}