/*common nav     begin      2016.09.22       written by jennifer*/
#zmodo-nav{position:absolute;top:0;right:0;left:0;z-index:3;display:block;margin:0;width:100%;
height:48px;max-height:48px;background:#14b8e2;background:rgba(20,184,226);
-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.nav-con{margin:0 auto;max-width:980px;padding:0 22px;z-index:3;position: relative;}
.nav-con .nav-link{color:#fff;background-repeat: no-repeat;display: inline-block;letter-spacing:normal;opacity:1;
-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';-webkit-transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);-webkit-tap-highlight-color:transparent;}
.nav-con .nav-item{display:inline-block;position:relative;height:48px;z-index:1;vertical-align:top;line-height: 48px;}
.nav-con .nav-list .nav-link-zmodo{height: 48px;}
.nav-con .nav-list .nav-link-zmodo img{width:100px;margin-top: 12px;}
.nav-con .nav-list{text-align: justify;width:auto;margin:0 -10px;}
.nav-con .nav-list:after{content:'';width:100%;display:inline-block;font-size:0;line-height:0;}
.nav-con .nav-link-user{background-repeat:no-repeat;background-size: 43px  23px;background-image:url("../images/header-icon-pc.png");background-position: -20px 2px;width:22px;height:30px;margin-top: 10px;}
.nav-searchview-con{position:absolute;top:0;left:16.66667%;width:66.66667%;z-index:3}
.nav-searchform-wrapper{padding-left:40px;position:relative;z-index:2;}
#nav-search-form{height: 48px;line-height: 48px;}
.nav-searchform-submit{left:0;position:absolute;z-index:1;top:0;width:21.5px;height:48px;background-size: 43px  23px;cursor:pointer;
background: url("../images/image_large.svg") no-repeat  0px 3px;}
.nav-searchform-input{background: transparent;width:90%;color:#fff;}
.nav-searchform-wrapper ::-moz-placeholder {color: #fff; }
.nav-searchform-wrapper ::-webkit-input-placeholder {color:#fff; }
.nav-searchform-wrapper :-ms-input-placeholder {color:#fff; }
.nav-con .nav-link-search{background: url("../images/header-icon-pc.png") no-repeat  0px 16px;width:21.5px;height:48px;background-size: 43px  23px;}
.nav-search-placeholder{display: none;}
.nav-searchview{opacity: 0;}
.nav-searchview-close{right:12px;opacity:1;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';
filter:alpha(opacity=100);position:absolute;z-index:3;width:38px;height:48px;top:0;color:#fff;
cursor:pointer;-webkit-transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);-webkit-tap-highlight-color:transparent;background: transparent;}
.nav-searchview-close-wrapper{display:block;width:100%;height:100%}
.nav-searchview-close-left,.nav-searchview-close-right{height:12px;width:1px;background:#fff;position:absolute;display:block;top:14px;z-index:1;
transition:transform 0.25s ease-out;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
.nav-searchview-close-left{right:15px;/*-webkit-transform:scale3d(1, 0.65, 1);transform:scale3d(1, 0.65, 1);*/
-webkit-transform-origin:0 100%;-ms-transform-origin:0 100%;transform-origin:0 100%}
.nav-searchview-close-right{left:15px;/*-webkit-transform:scale3d(1, 0.65, 1);transform:scale3d(1, 0.65, 1);*/
-webkit-transform-origin:100% 100%;-ms-transform-origin:100% 100%;transform-origin:100% 100%}
#zmodo-nav.searchshow   .nav-searchview-close-left{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);
transition:transform 0.25s ease-out;}
#zmodo-nav.searchshow  .nav-searchview-close-right{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);
transition:transform 0.25s ease-out;}
.nav-header{display: none;cursor: pointer;}
#zmodo-nav{cursor: pointer;}
.nav-menuicon{cursor: pointer;}
#zmodo-nav-placeholder{height: 48px;}
.nav-products{width:100%;position: absolute;left:0px;top:48px;z-index: 10000;height: 0rem;opacity: 0;transition:all 0.5s;background: #fff;}
.nav-products.nav-products-show{height: 9rem;opacity: 1;}
.nav-products-con{width:1000px;margin: 0 auto;padding: 1rem 0rem;}
.nav-products-con .nav-products-item{display: inline-block;width: 19.6%;text-align: center;}
.nav-products-con .nav-products-item p{font-size: 0.8rem;margin-top: 1rem;cursor: pointer;}
.nav-products-con .nav-products-item p:hover{color:#14b8e2;}
/*common nav       end        2016.09.22        written by jennifer*/
/*common footer on the screen>1023   begin     2016.09.27        written by jennifer*/
#zmodo-footer{background: #f2f2f2;}
.footer-con{margin:0 auto;max-width:980px;padding:70px 22px;}
.footer-con .footer-list{text-align: justify;width:auto;margin:0px  -10px;}
.footer-con .footer-item{display: inline-block;vertical-align: top;}
.footer-con .footer-item .footer-item-link{display: inline-block;}
.footer-con .footer-item .footer-share-item{display: inline-block;margin-left: 3px;vertical-align: top;}
.footer-con .footer-item .footer-share-item06{margin-left: 26px;}
.footer-con .footer-item .footer-share-item01{margin-left: 0px;}
.footer-con .footer-link{width:500px;line-height: 30px;}
.footer-item-copyright-pc{width:150px;padding-right: 40px;font-size: 0.6rem;}
.footer-item-copyright{margin-top: 10px;color:#999999;}
.footer-subscribe-share{width:290px;margin-top: 10px;}
.footer-item-share{margin-top: 15px;}
.footer-con .footer-item-copyright-phone{display: none;}
.footer-con .footer-logo{width:150px;}
.footer-con .footer-link .footer-item-link-column01{width:18%;}
.footer-con .footer-link .footer-item-link-column02{width:35.5%;}
.footer-con .footer-link .footer-item-link-column03{width:30%;}
.footer-con .footer-link .footer-item-link-column04{width:14%;}
.footer-con .footer-item-subscribe .foot-btn::before,.footer-con .footer-item-subscribe .foot-btn::after{background: #999999;width:10px;height: 1px; content:"";display: block;}
.footer-item-subscribe{padding-left: 15px;height: 30px;width:275px;background: #fff;position: relative;cursor: pointer;}
.footer-con .footer-item-subscribe .foot-btn:hover::before,.footer-con .footer-item-subscribe .foot-btn:hover::after{background: #333333;}
.footer-con .footer-item-subscribe-text{height: 30px;color:#999999;width:250px;}
.footer-con .footer-item-subscribe .foot-btn{width: 20px;position: absolute;top: 6px;right: 10px;color:#999999;height: 20px;background: none;cursor: pointer;}
.footer-con .footer-item-subscribe .foot-btn::before{-webkit-transform-origin:100% 0%;-ms-transform-origin:100% 0%;transform-origin:100% 0%;-webkit-transform:rotate(-40deg);-ms-transform:rotate(-40deg);transform: rotate(-40deg);position: absolute;top: 9px;right: 2px;}
.footer-con .footer-item-subscribe .foot-btn::after{-webkit-transform-origin:100% 0%;-ms-transform-origin:100% 0%;transform-origin:100% 0%;-webkit-transform:rotate(40deg);-ms-transform:rotate(40deg);transform: rotate(40deg);position: absolute;top: 9px;right: 2px;}
.footer-con .footer-share-item a{width:28px;height: 28px;line-height:28px;display: inline-block;background:url("../images/footer-share-icon.png") no-repeat;background-size: 195px  75px;}
.footer-con .footer-share-item07 {width:60px;height: 28px;}
.footer-con .footer-share-item07 a{width:60px;background: none;}
.footer-con .footer-share-item01 a{background-position: 0px -45px;}
.footer-con .footer-share-item02 a{background-position: -34px -45px;}
.footer-con .footer-share-item03 a{background-position: -67px -45px;}
.footer-con .footer-share-item04 a{background-position: -100px -45px;}
.footer-con .footer-share-item05 a{background-position: -135px -45px;}
.footer-con .footer-share-item06 a{background-position: -167px -45px;}
.footer-con .footer-share-item01 a:hover{background-position: 0px -1px;}
.footer-con .footer-share-item02 a:hover{background-position: -34px -1px;}
.footer-con .footer-share-item03 a:hover{background-position: -67px -1px;}
.footer-con .footer-share-item04 a:hover{background-position: -100px -1px;}
.footer-con .footer-share-item05 a:hover{background-position: -135px -1px;}
.footer-con .footer-share-item06 a:hover{background-position: -167px -2px;}
/*common footer on the screen>1023     end       2016.09.27         written by jennifer*/

/*the home page  on the screen>1023     begin      2016.09.30        written by jennifer*/
.banner-box{width:100%;overflow: hidden;position: relative;}
.banner{width:300%;transform:translate3d(0,0,0);transition:all 0.5s;display: inline-block;}
.dots{position: absolute;bottom: 20px;width:100%;text-align: center;}
.banner li{float: left;width:33.33333%;display: inline-block;text-align: center;}
.banner li a.slide-a{display:inline-block;width:100%;}
.banner li img{max-width: 100%;width:100%;position: relative;top:0px;left:0px;}
.dots span.swiper-pagination-bullet{opacity: 1;width:10px;height: 10px;line-height: 10px;border: 1px solid #14b8e2;border-radius:50%;background: transparent;display: inline-block;margin: 0px 5px;}
.dots span.swiper-pagination-bullet-active{background: #14b8e2;opacity: 1;}
.dots span{width:10px;height: 10px;line-height: 10px;border: 1px solid #14b8e2;border-radius:50%;background: transparent;display: inline-block;margin: 0px 5px;}
.dots span:hover{cursor: pointer;}
.home-banner .swiper-slide01 .banner-btn{margin-left: -84px;position: absolute;top: 13.5rem;}
.home-banner .swiper-slide .banner-subtit{font-family:"Roboto Thin"!important;font-size: 48px;color:#333;position: absolute;}
.home-banner .swiper-slide .banner-tit{font-size: 56px;color:#333;position: absolute;}
.home-banner .swiper-slide01 .banner-subtit{margin-left: -205px;top: 3.5rem;display: inline-block;}
.home-banner .swiper-slide02 .banner-subtit{margin-left: -9.5rem;top: 12rem;display: inline-block;}
.home-banner .swiper-slide02 .banner-tit{margin-left: -3.7rem;top: 8rem;display: inline-block;}
.home-banner .swiper-slide02 .banner-btn{margin-left: -84px;position: absolute;top: 22rem;}
.home-banner .swiper-slide03 .banner-subtit{margin-left: -12.5rem;top:14rem;display: inline-block;color:#fff;}
.home-banner .swiper-slide03 .banner-tit{margin-left: -3.7rem;top: 9rem;display: inline-block;color:#fff;}
.home-banner .swiper-slide03 .banner-btn{margin-left: -84px;position: absolute;top: 24rem;}
.home-banner .swiper-slide{height: 810px;}
.home-banner .swiper-slide01{background:url("../images/home/banner01.jpg") no-repeat  center  center;}
.home-banner .swiper-slide02{background:url("../images/home/banner02.jpg") no-repeat  center  center;}
.home-banner .swiper-slide03{background:url("../images/home/banner03.jpg") no-repeat  center   center;}
.press{background:#14b8e2;padding: 2.7rem  0rem;cursor: pointer;}
.press-con{width: 1000px;margin: 0  auto;}
ul.press-con-item li{display: inline-block;}
ul.press-con-item li.press-list{width:13.5%;background:url("../images/home/press.png") no-repeat;height: 52px;}
ul.press-con-item li.press-list01{background-position: 0px 0px;}
ul.press-con-item li.press-list02{background-position: -150px 0px;}
ul.press-con-item li.press-list03{background-position: -285px 0px;}
ul.press-con-item li.press-list04{background-position: -421px 0px;}
ul.press-con-item li.press-list05{background-position: -569px 0px;}
ul.press-con-item li.press-list06{background-position: -708px 0px;}
ul.press-con-item li.press-list07{background-position: -853px 0px;}
.row{width:100%;background: #f8f8f8;}
.row .row-list{display: inline-block;width:50%;}
.row .row-img{width:100%;max-width: 100%;display: block;}
/*.row.row-float-right .row-list{float: right;}*/
.row .row-con{position: relative;}
.row01 .row-con{margin-right: 7rem;}
.row02 .row-con{margin-right: 7rem;}
.row-float-left  .row-con{float: right;}
.row-float-right  .row-con{float: left;margin-left: 5.5rem;}
.row  .row-list-tit{font-size: 1.8rem;color:#333;line-height: 2.4rem;}
.row  .row-list-subtit{font-size: 1.1rem;color:#626262;line-height: 1.8rem;margin-top: 2.0rem;}
.row-list-icon{margin: 0rem 0rem 2rem 0rem;}
.row03{background: #fff;}
.row03 .row-con{width:100%;text-align: center;margin: 3.5rem 0rem;}
.home-main-table{width:100%;}
.home-main-table .row-list{vertical-align: middle;}
.home-main-table .row-list.hidden-small{display: none;}
/*the home page  on the screen>1023     end      2016.09.30        written by jennifer*/
/*the pivot page  on the screen>1023     begin      2016.10.08        written by jennifer*/
.product-pivot.pivot-part01 .banner-maintitle{padding-top: 10rem;}
.pivot-part01{width:100%;background:url("../images/pivot/01.jpg") no-repeat center center;height: 42.75rem;}
.pivot-part05{width:100%;height: 45rem;}
.pivot-part07{width:100%;background:url("../images/pivot/02.jpg") no-repeat center center;height: 45rem;background-size: 100% 100%;}
.pivot-part09{width:100%;background:url("../images/pivot/03.jpg") no-repeat center center;height: 47.75rem;}
.pivot-part10{width:100%;background:url("../images/pivot/04.jpg") no-repeat center top;height: 48rem;}
.pivot-part11{width:100%;background:url("../images/pivot/05.jpg") no-repeat center center;height: 36.8rem;background-size: 100% 100%;}
.product-pivot{color:#fff;}
.banner-point li{display: inline-block;}
.product-pivot .maintitle{margin-top: 6rem;}
.pivot-part02 .pivot-press{width:100%;margin-top: 3.5rem;}
.pivot-part02 .pivot-press .pivot-press-item{width:21.5%;display: inline-block;padding: 0 5%;}
.pivot-part02 .pivot-press .press-item-name{font-weight: bold;margin-top: 30px;color:#666;}
.pivot-part02 .pivot-press .press-item-text{margin-top: 3rem;}
.pivot-part02 .pivot-press .pivot-press-item{height: 16rem;}
.pivot-part02 .pivot-press .pivot-press-item:nth-child(1),.pivot-press .pivot-press-item:nth-child(2){border-right: 1px solid #d9dee0;}
.pivot-part02 .pivot-press .pivot-press-item:nth-child(2){width:24.5%;}
.pivot-part02 .pivot-press .pivot-press-item:nth-child(3){width:29.5%;padding: 0 1%;}
.pivot-part03{padding-bottom: 8rem;}
.pivot-part03 .pivot-advantage{margin-top: 1.5rem;}
.pivot-part03 .pivot-advantage .pivot-advantage-item{width:33%;display: none;}
.pivot-part03 .pivot-advantage .pivot-advantage-icon{background:url("../images/pivot/15.png") no-repeat;height: 8.5rem;width: 8.5rem;display: inline-block;margin-bottom: 5px;}
.pivot-part03 .pivot-advantage .pivot-advantage-icon01{background-position: -4px -3px;margin-left: 10px;}
.pivot-part03 .pivot-advantage .pivot-advantage-icon02{background-position: -402px -3px;}
.pivot-part03 .pivot-advantage .pivot-advantage-icon03{background-position: -797px -3px;margin-right: 10px;}
.pivot-part03 .pivot-advantage .pivot-advantage-item01{text-align: left;}
.pivot-part03 .pivot-advantage .pivot-advantage-item02{text-align: center;}
.pivot-part03 .pivot-advantage .pivot-advantage-item03{text-align: right;}
.pivot-part03 .pivot-advantage .pivot-advantage-item02 .advantage-item-text{width:90%;margin-left: 5%;}
.pivot-part05{position: relative;overflow: hidden;}
.pivot-part05 .pivot-360bg{position: absolute;left:0px;top:4px;width:100%;height: 37.8rem;background:url("../images/pivot/360.jpg") repeat-x 0px center;}
.pivot-part05 .pivot-video{position: absolute;left:0px;top:0px;}
.pivot-360rotate-box{position: absolute;left:50%;top:24rem;margin-left: -5.5rem;width:11rem;height: 23rem;}
.pivot-part05 .pivot-360rotate{background:url("../images/pivot/16.png") no-repeat center top;background-size:100% 1500%;width:11rem;height: 20rem;position: absolute;}
.pivot-part05 .pivot-shadow{background:url("../images/pivot/shadow.png") no-repeat; background-size: 100%;width:11rem;height: 3rem;position: absolute;bottom: 3.5rem;}
.pivot-part05 .pivot-rotate-btn{color:#000;font-size: 1rem;border: 1px solid #b5b5b5;padding: 0.5rem 1rem;display: inline-block;
position: absolute;left:50%;bottom:3.5rem;}
.pivot-part05 .pivot-rotate-btn-left{margin-left: -13.5rem;}
.pivot-part05 .pivot-rotate-btn-right{margin-left: 6.5rem;}
.pivot-part05 .pivot-video{display: none;}
.pivot-part05 .inside-page-con{position: relative;text-align: center;}
.pivot-part05 .maintitle{margin-top: 0rem;padding-top: 6rem;}
.pivot-part06{position: relative;padding-bottom: 6rem;}
.pivot-part06 .inside-page-con .subtitle,.pivot-part06 .inside-page-con .maintitle{text-align: center;}
.pivot-part06 .inside-page-con span.subtitle,.pivot-part06 .inside-page-con span.maintitle{display: inline-block;}
.pivot-part06 .pivot-part06-tips{font-family:"Roboto Medium"!important;font-size: 1.1rem;position: relative;left:98px;top:-215px;display: inline-block;}
.pivot-part06 .pivot-part06-tips01{color:#14b8e2;height: 70px;}
.pivot-part06 .pivot-part06-tips02{color:#ffa737;height: 70px;}
.pivot-part06 .pivot-part06-chart{position: relative;left:135px;top:10px;}
.pivot-part06 .pivot-tip-btn{margin-right: 15px;color:#fff;width:26px;height: 26px;display: inline-block;text-align: center;}
.pivot-part06 .pivot-tip-btn.pivot-tip-btn-animation{animation:changesize 1s  infinite;-webkit-animation:changesize 1s  infinite;-ms-animation:changesize 1s  infinite;
-moz-animation:changesize 1s  infinite;}
@keyframes changesize{0%{transform:scale(1,1);opacity:1;}50%{transform:scale(0.5,0.5);opacity: 1};100%{transform:scale(1,1);opacity:1;}}
@-webkit-keyframes changesize{0%{transform:scale(1,1);opacity:1;}50%{transform:scale(0.5,0.5);opacity: 1};100%{transform:scale(1,1);opacity:1;}}
@-ms-keyframes changesize{0%{transform:scale(1,1);opacity:1;}50%{transform:scale(0.5,0.5);opacity: 1};100%{transform:scale(1,1);opacity:1;}}
@-moz-keyframes changesize{0%{transform:scale(1,1);opacity:1;}50%{transform:scale(0.5,0.5);opacity: 1};100%{transform:scale(1,1);opacity:1;}}
.pivot-part06 .pivot-tips-text{font-size: 0.8rem;text-align: center;margin-top: 60px;height: 40px;opacity: 0;transition:opacity 0.5s;}
.pivot-part07{position: relative;}
.pivot-part07 .subtitle,.pivot-part07 .maintitle{text-align: center;color:#fff;}
.pivot-part07 .maintitle{margin-top: 0rem;padding-top: 6rem;}
.pivot-part07-video{position: absolute; top: 50%; left: 50%; width: 40rem; height: 22.5rem; margin: -10.5rem 0 0 -20rem; 
border-radius: 1rem; border: 0.7rem solid #fff;background-size: 100% 100%;}
.pivot-part07-btn{position: absolute; top: 50%; left: 50%; margin-left: -13rem;top:39rem;}
.pivot-part07-btn li{width:13rem;height:2.5rem; float: left;line-height: 2.5rem;}
.pivot-part07-btn01,.pivot-part07-btn02{display: inline-block;width:13rem;height:2.5rem; border: 1px solid #d2d2d2;
background-color: rgba(255, 255, 255, 0.5);text-align: center;font-size: 1.1rem;color:#fff;}
.pivot-part07-btn li a.pivot-part07-active{border: 1px solid #fff;background: #14b8e2;}
.pivot-part08{padding-bottom: 5rem;}
.pivot-part08 .subtitle{text-align: center;margin-bottom: 3.5rem;}
.pivot-part08-con{width:730px;height: 170px;background: url(../images/pivot/21.png);margin:0 auto;position: relative;}
.pivot-part08-record{width:365px;border-top: 5px dotted #14b8e2;margin: 0 auto;position: relative;top:85px;}
.pivot-part08-arrow{display: inline-block;position: absolute;top:-27px;animation: anipro 2s linear infinite;
-webkit-animation: anipro 2s linear infinite;-moz-animation: anipro 2s linear infinite;-ms-animation: anipro 2s linear infinite;}
@keyframes anipro {0%{opacity:0; transform: translateX(0rem); }50%{opacity: 1; transform: translateX(182.5px); }100% {opacity: 0; transform: translateX(335px);}}
@-webkit-keyframes anipro  {0%{opacity:0; transform: translateX(0rem); }50%{opacity: 1; transform: translateX(182.5px); }100% {opacity: 0; transform: translateX(335px);}}
@-moz-keyframes anipro  {0%{opacity:0; transform: translateX(0rem); }50%{opacity: 1; transform: translateX(182.5px); }100% {opacity: 0; transform: translateX(335px);}}
@-webkit-keyframes anipro  {0%{opacity:0; transform: translateX(0rem); }50%{opacity: 1; transform: translateX(182.5px); }100% {opacity: 0; transform: translateX(335px);}}
.pivot-part09 .maintitle{margin-top: 0rem;padding-top: 6rem;}
.pivot-part09-con{width:736px;margin:0 auto;}
.pivot-part10 .maintitle{margin-top: 0rem;padding-top: 6rem;}
.pivot-part10 .subtitle{text-align: center;}
.pivot-part10-video-box{background: url(../images/pivot/computer.png);width:800px;height: 454px;margin:0 auto;
padding: 46px 0px 0px 0px;background-repeat: no-repeat;}
.pivot-part10-video{width:602px;height: 372px;margin-left: 99px;}
.pivot-part10-btn{width:28rem;margin: 0 auto;}
.pivot-part10-btn li{width:9rem;height:5rem;float: left;line-height: 5rem;}
.pivot-part10-btn li a{width:9rem;height:5rem;line-height: 5rem;display: inline-block;text-align: center;border: 1px solid #d2d2d2;}
.pivot-part10-btn li a.pivot-part10-btn01{border-right: 1px solid #fff;}
.pivot-part10-btn li a.pivot-part10-btn02{border-right: 1px solid #fff;}
.pivot-part10-btn li a span{display: inline-block;width:45px;height: 45px;background: url(../images/pivot/26.png);}
.pivot-part10-btn li a p{width:100%;height: 30px;line-height: 30px;margin-top: -2rem;font-size: 0.8rem;}
.pivot-part10-btn li a.pivot-part10-btn01 span{background-position: -2px 1px;}
.pivot-part10-btn li a.pivot-part10-btn02 span{background-position: -72px 0px;}
.pivot-part10-btn li a.pivot-part10-btn03 span{background-position: -145px 0px;}
.pivot-part10-btn li a.pivot-part10-btn01:hover span{background-position: -2px -46px;}
.pivot-part10-btn li a.pivot-part10-btn02:hover span{background-position: -72px -42px;}
.pivot-part10-btn li a.pivot-part10-btn03:hover span{background-position: -145px -44px;}
.pivot-part10-btn li a:hover{background: #14b8e2;}
.pivot-part11-con{width:200px;margin:0 auto;text-align: center;}
.pivot-part11-pivot{margin-top: 8.5rem;}
.pivot-part11-exp-icon{width:40px;height: 30px;display: inline-block;background: url(../images/down-arrow.png);opacity: 1;
background-position: 0px -34px;margin-top: 0.8rem;}
.arrow-down{animation: aniarrow 1s linear infinite;
-webkit-animation: aniarrow 1s linear infinite;-moz-animation: aniarrow 1s linear infinite;-ms-animation: aniarrow 1s linear infinite;opacity: 0;}
@keyframes aniarrow {0%{opacity:0; transform: translateY(0rem); }50%{opacity: 1; transform: translateY(5px); }100% {opacity: 0; transform: translateY(10px);}}
@-webkit-keyframes aniarrow    {0%{opacity:0; transform: translateY(0rem); }50%{opacity: 1; transform: translateY(5px); }100% {opacity: 0; transform: translateY(10px);}}
@-moz-keyframes aniarrow  {0%{opacity:0; transform: translateY(0rem); }50%{opacity: 1; transform: translateY(5px); }100% {opacity: 0; transform: translateY(10px);}}
@-webkit-keyframes aniarrow    {0%{opacity:0; transform: translateY(0rem); }50%{opacity: 1; transform: translateY(5px); }100% {opacity: 0; transform: translateY(10px);}}
.pivot-part11-btn{display: inline-block;margin-top: 2.5rem;height: 4rem;}
.pivot-part11 .common-btn{margin-top: 1.4rem;}
.pivot-part12{color:#000;}
.pivot-part12-table{display: none;}
.pivot-part04{height: 48rem;position: relative;overflow: hidden;background: url(../images/pivot/17.jpg) no-repeat center center; }
.pivot-part04-left{position: absolute;top:58%;left:50%;margin-top: -42.5px;margin-left: -512px;}
.pivot-part04-right{position: absolute;top:58%;right:50%;margin-top: -42.5px;margin-right: -512px;}
.pivot-part04-tit{position: absolute;width:100%;text-align: center;top:-0.5rem;}
.pivot-part04-pivot{position: absolute; width: 11rem; height: 20rem; left: 50%; top: 50%; margin: -1rem 0 0 -5.5rem;}
.pivot-part04-shadow{display:inline-block;position: absolute; bottom: 0.5rem; width: 100%; height: 3rem; background: url(../images/pivot/shadow.png); background-size: 100%; }
.pivot-part04-product{display:inline-block;position: absolute; top: 0; width: 100%; height: 100%; background: url(../images/pivot/16.png) no-repeat; background-size: 100% 1500%; }

.pivot-part04-slant {background: url(../images/pivot/pivot.png); background-size: 100%; }
.pivot-part04-mc {position: absolute; top: 50%; left: 50%; display: none; }
.pivot-part04-mc03a {width: 19.5rem; height: 5rem; background: url(../images/pivot/sc03_a.png); transform-origin: 0; margin: 0 0 0 -22rem; }
.pivot-part04-mc03b {width: 6rem; height: 14rem; background: url(../images/pivot/sc03_b.png); margin: -10rem 0 0 12rem; opacity: 0; }
.pivot-part04-mc04a {width: 3rem; height: 4rem; background: url(../images/pivot/sc04_a.png); transform-origin: 50% 100% 0; background-size: 200% 100%; margin: -2rem 0 0 -10rem; opacity: 0; }
.pivot-part04-mc04b {width: 3rem; height: 4rem; background: url(../images/pivot/sc04_a.png); background-size: 200% 100% 0; margin: 0rem 0 0 6rem; opacity: 0; }
.pivot-part04-mc04c {width: 3rem; height: 4rem; background: url(../images/pivot/sc04_a.png); background-size: 50% 100% 0; margin: -2rem 0 0 10rem; background-position: -3rem 0; opacity: 0; }
.pivot-part04-mc05a {width: 46rem; height: 13rem; background: url(../images/pivot/sc05_a.png); margin: -7rem 0 0 -21rem; }
.pivot-part04-mc05b {width: 46rem; height: 13rem; background: url(../images/pivot/sc05_b.png); margin: -7rem 0 0 -21rem; }
.pivot-part04-mc05c {width: 46rem; height: 13rem; background: url(../images/pivot/sc05_c.png); margin: -7rem 0 0 -21rem; }
.pivot-part04-mc05d {width: 46rem; height: 13rem; background: url(../images/pivot/sc05_d.png); margin: -7rem 0 0 -21rem; }
.pivot-part04-mc06a {width: 44rem; height: 19rem; background: url(../images/pivot/sc06_a.png); margin: -9rem 0 0 -20rem; }
.pivot-part04-mc06b {width: 44rem; height: 19rem; background: url(../images/pivot/sc06_b.png); margin: -9rem 0 0 -20rem; }
.pivot-part04-mc06c {width: 44rem; height: 19rem; background: url(../images/pivot/sc06_c.png); margin: -9rem 0 0 -20rem; }
.pivot-part04-mc06d {width: 44rem; height: 19rem; background: url(../images/pivot/sc06_d.png); margin: -9rem 0 0 -20rem; }
.pivot-part04-mc06e {width: 44rem; height: 19rem; background: url(../images/pivot/sc06_e.png); margin: -9rem 0 0 -20rem; }
.pivot-part04-mc06f {width: 44rem; height: 19rem; background: url(../images/pivot/sc06_f.png); margin: -9rem 0 0 -20rem; }

.pivot-part05{margin-top: -8px;}
.pivot-part12 .pivot-part12-table{width:100%;}
.pivot-part12 .pivot-part12-table tr td{padding: 25px 0px;font-size: 0.9rem;}
.pivot-part12 .pivot-part12-table tr td  p.bit{color:#00a0e9;}
.pivot-part12 .pivot-part12-table tr td  p.bit  a.tab{width: 15px;height: 15px;line-height: 15px;
text-align: center;color:#fff;font-size: 12px;display: inline-block;background: #00a0e9;border-radius: 50%;
float: left;margin-left: 10px;margin-top: 3px;}
.pivot-part12 .pivot-part12-table tr td  p.bit  b{float: left;}
.pivot-part12 .pivot-part12-table tr td.name{width:33%;}
.pivot-part12 .pivot-part12-table tr.odd td{background: #f2f2f2;}
.pivot-part12 .pivot-part12-table tr.even td{background: #fff;}
.pivot-part12 .pivot-part12-table tr td.name  span{display: inline-block;width:50px;height: 50px;background: url(../images/pivot/pivot-icon.png);margin-left: 50px;float: left;}
.pivot-part12 .pivot-part12-table tr td.name  h3{float: left;margin-left: 20px;font-family:"Roboto Medium"!important;font-size: 0.9rem;color:#333;margin-top: 20px;}
.pivot-part12 .pivot-part12-table tr td.name01  span{background: url(../images/pivot/camera.png);background-position: 0px  0px;}
.pivot-part12 .pivot-part12-table tr td.name02  span{background: url(../images/pivot/rotation.png);background-position: 0px  0px;}
.pivot-part12 .pivot-part12-table tr td.name03  span{background: url(../images/pivot/sensors.png);background-position: 0px  0px;}
.pivot-part12 .pivot-part12-table tr td.name04  span{background-position: -213px  -21px;}
.pivot-part12 .pivot-part12-table tr td.name05  span{background-position: -287px  -21px;}
.pivot-part12 .pivot-part12-table tr td.name06  span{background-position: -18px  -95px;}
.pivot-part12 .pivot-part12-table tr td.name07  span{background-position: -95px  -105px;}
.pivot-part12 .pivot-part12-table tr td.name08  span{background-position: -173px  -97px;}
.pivot-part12 .pivot-part12-table tr td.name09  span{background-position: -236px  -105px;}
.pivot-part12 .pivot-part12-table tr td.name10  span{background: url(../images/pivot/encryption.png);background-position: -9px  0px;}
.pivot-part12 .pivot-part12-table tr td  .bit-detail{margin-top: 15px;width:20rem;display: none;}
.pivot-part12 .pivot-part12-table{margin-top: 2rem;}
/*the pivot page  on the screen>1023     end      2016.10.08       written by jennifer*/
/*the greet page  on the screen>1023     begin      2016.10.08        written by jennifer*/
.greet-part01{color:#fff;}
.greet-part02 .inside-page-con .maintitle{text-align: left;color:#060606;}
.greet-part02 .inside-page-con .maintitle{color:#000000;}
.greet-part03 .inside-page-con .subtitle,.greet-part03 .inside-page-con .maintitle{color:#fff;text-align: center;}
.greet-part04 .inside-page-con{text-align: center;}
.greet-part09-con{width:200px;margin:0 auto;text-align: center;}
.greet-part05 .inside-page-con{text-align: center;}
.greet-part05-list{width: 930px;height: 330px;margin: 0 auto;}
.greet-part05-item{width:306px;height:330px;float: left;}
.greet-part05-item span{width:306px;height:180px;display: inline-block;background: url(../images/greet/17.png) no-repeat }
.greet-part05-item p{color:#fff;}
.greet-part05-item01 p{width:233px;}
.greet-part05-item02 p{width:222px;margin: 0 auto;}
.greet-part05-item03 p{width:165px;float: right;}
.greet-part05-item01 span{background-position: 25px 0px;}
.greet-part05-item02 span{background-position: -317px 0px;}
.greet-part05-item03 span{background-position: -641px 0px;}
.greet-part08-list{width:1000px;margin: 0 auto;}
.greet-part06{margin-top: -5px;}
.greet-part06-iphone{background: url(../images/greet/25.png)  no-repeat;width:644px;height:713px;margin:47px 244px 0px auto;position: relative;}
.greet-part06  .greet-part06-window{width: 286px;height: 503px;position: absolute;background: transparent;left: 250px;top: 97px;overflow: hidden;cursor: pointer;}
.greet-part06  .greet-part06-bg{background:url(../images/greet/34.jpg);width:1432px;height: 445px;position: absolute;top:58px;margin-left:-572px;left:0px;
	transition:left 0.3s cubic-bezier(.19,1,.22,1);-webkit-transition:left 0.3s cubic-bezier(.19,1,.22,1);z-index: 1;}
.greet-part06   .greet-part06-top{width:288px;height: 88px;background:url(../images/greet/32.jpg)  -4px 0px;position: absolute;top:0px;left:0px;z-index: 2;}	
.greet-part06  .greet-part06-bottom{width:251px;height: 96px;background:url(../images/greet/33.png)  -4px 0px;position: absolute;top: 394px;left:26px;z-index: 2;}
.greet-part08-item{width:33.33%;float: left;padding-top: 3rem;}
.greet-part08-item .area{width:103px;height: 103px;line-height: 93px;display: inline-block;background: url(../images/greet/18.png);margin-bottom: 1.3rem;}
.greet-part08-item .area01{background-position: 0px    -216px;}
.greet-part08-item .area02{background-position: -107px    -216px;}
.greet-part08-item .area03{background-position: -220px    -216px;}
.greet-part08-item .area04{background-position: 1px    -320px;}
.greet-part08-item .area05{background-position: -106px    -320px;}
.greet-part08-item .area06{background-position: -219px    -320px;}
.greet-part08-item .parametric-main-tit{margin-bottom: 1.3rem;}
.greet-part08-item p{width: 70%;}
.greet-part08{background: #f7f7f7;padding: 6rem 0rem 7rem 0rem;}
.greet-part10 .inside-page-con{position: absolute;left:50%;top:4rem;margin-left: -500px;}
.greet-part10 .subtitle,.greet-part10 .maintitle{width:75%;text-align: center;margin-left: 12.5%;}
.greet-part10-slide02 .subtitle,.greet-part10-slide02 .maintitle{color:#fff;}
/*the greet page  on the screen>1023    end      2016.10.08        written by jennifer*/
.beam-part01{color:#fff;}
.beam-part01 .inside-page-con{position: relative;}
.beam-part01-inside-page-con{position: absolute;left:23rem;top:17rem;}
.beam-part01 .banner-maintitle{margin-bottom: 1rem;}
.beam-part01 .banner-subtitle{margin-top: 0.4rem}
.beam-part03 .maintitle{color:#333;text-align: left;}
.beam-part03 .subtitle{color:#666;}
.beam-part05 .maintitle,.beam-part05 .subtitle{color:#fff;}
.beam-part06 .maintitle{color:#fff;text-align: left;}
.beam-part06 .subtitle{color:#fff;}
.beam-part07{padding-top: 6rem;}
.beam-part07-con{width:200px;margin:0 auto;text-align: center;}
.beam-part04{position: relative;}
.beam-part04-switch{width: 12%;position:absolute;top: 45.5%;left: 65.6%;height: 35px;line-height: 35px;}
.beam-part04-switch li{width:33.333%;float: left;height: 35px;line-height: 35px;}
.beam-part04-switch a{height: 35px;line-height: 35px;display: inline-block;width:100%;background: transparent;}
.beam-part04-phone-box .dots{position: absolute;bottom: 20px;width:100%;text-align: center;}
.beam-part04 .inside-page-con{position: relative;}
.beam-part04 .subtitle,.beam-part04 .maintitle{width:38%;text-align: left;}
.beam-part04-con{position: absolute;top:4rem;left:2rem;}
.beam-part05{margin-top: -5px;}
.torchpro-part01 .inside-page-con{color:#fff;padding-top: 14rem;}
.torchpro-part04-con{float: left;}
.torchpro-part04-pic{float: right;}
.torchpro-part05 .maintitle,.torchpro-part05 .subtitle{width:45%;text-align: center;color:#fff;margin: 0 auto;}
.torchpro-part05 .maintitle{margin-bottom: 1.1rem;padding-top: 14rem;}
.torchpro-part05-item{display: inline-block;}
.torchpro-part05-list{width:80%;height: 60px;line-height: 60px;margin:13rem auto  auto auto;}
.torchpro-part05-item{text-align: center;line-height: 60px;width:16.1%;}
.torchpro-part05-item a{width:51px;height: 51px;line-height: 51px;display: inline-block;border-radius: 50%;}
.torchpro-part05-item01 a{background: #f3d995;border:3px solid #f3d995;}
.torchpro-part05-item01 a.torchproActive{border:3px solid #fff;box-shadow:0px 0px 16px #f3d995;}
.torchpro-part05-item02 a{background: #32db7a;border:3px solid #32db7a;}
.torchpro-part05-item02 a.torchproActive{border:3px solid #fff;box-shadow:0px 0px 16px #ffe56b;}
.torchpro-part05-item03 a{background: #4ecdc4;border:3px solid #4ecdc4;}
.torchpro-part05-item03 a.torchproActive{border:3px solid #fff;box-shadow:0px 0px 16px #ffe56b;}
.torchpro-part05-item04 a{background: #19b5fe;border:3px solid #19b5fe;}
.torchpro-part05-item04 a.torchproActive{border:3px solid #fff;box-shadow:0px 0px 16px #ffe56b;}
.torchpro-part05-item05 a{background: #ce5cfe;border:3px solid #ce5cfe;}
.torchpro-part05-item05 a.torchproActive{border:3px solid #fff;box-shadow:0px 0px 16px #ffe56b;}
.torchpro-part05-item06 a{background: #f62459;border:3px solid #f62459;}
.torchpro-part05-item06 a.torchproActive{border:3px solid #fff;box-shadow:0px 0px 16px #ffe56b;}
.torchpro-part05{position: relative}
.torchpro-part05-con{position: absolute;left: 50%;top:0px;margin-left: -500px;}
.torchpro-part08{text-align: center;}
.torchpro-part08 .easy-Installation{width:15.5rem;height: 3rem;text-align: center;line-height: 3rem;color:#fff;font-family:"Roboto Medium"!important;
border-radius: 30px;background: #14b8e2;font-size: 1.4rem;display: inline-block;margin-top: 6rem;}
.torchpro-part09 .inside-page-con{text-align: center;}
.torchpro-part09-con{width:290px;margin: 0 auto;text-align: center;}
.torchpro-part08 .inside-page-con{position: absolute;left:0px;top:-45px;}
@media screen and (min-width:769px){
/*the code which can't   share  width the  screen that=<768px   begin*/
#zmodo-nav  .nav-con .nav-item-menu{opacity: 1;-webkit-transition:opacity 0.25s ease-out;transition:opacity 0.25s ease-out;}
#zmodo-nav.searchshow  .nav-con .nav-item-menu{-webkit-transition:opacity 0.25s ease-out;transition:opacity 0.25s ease-out;opacity: 0;}
#zmodo-nav  .nav-item-menu:nth-child(2){-webkit-transition-delay:0ms;transition-delay:0ms;}
#zmodo-nav  .nav-item-menu:nth-child(3){-webkit-transition-delay:30ms;transition-delay:30ms;}
#zmodo-nav  .nav-item-menu:nth-child(4){-webkit-transition-delay:50ms;transition-delay:50ms;}
#zmodo-nav  .nav-item-menu:nth-child(5){-webkit-transition-delay:100ms;transition-delay:100ms;}
#zmodo-nav  .nav-item-menu:nth-child(6){-webkit-transition-delay:150ms;transition-delay:150ms;}
#zmodo-nav  .nav-item-menu:nth-child(7){-webkit-transition-delay:200ms;transition-delay:200ms;}
#zmodo-nav  .nav-item-menu:nth-child(8){-webkit-transition-delay:250ms;transition-delay:250ms;}
#zmodo-nav  .nav-searchform-input,#zmodo-nav .nav-searchform-submit{-webkit-transform:translateX(100px);-ms-transform:translateX(100px);transform:translateX(100px);
-webkit-transition:-webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);transition:transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);}
#zmodo-nav.searchshow   .nav-searchform-input,#zmodo-nav.searchshow  .nav-searchform-submit{-webkit-transform:translateX(0px);-ms-transform:translateX(0px);transform:translateX(0px);
-webkit-transition:-webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);transition:transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);}
#zmodo-nav.searchshow  .nav-searchview{opacity: 1;}
.nav-searchview-close-left, .nav-searchview-close-right{height: 18px;}
.nav-searchview-close-left{right:12px;}
.nav-searchview-close-right{left:12px;}
.nav-searchform-submit{background: url("../images/header-icon-pc.png") no-repeat  0px 16px;width:17.5px;height: 48px;background-size: 43px 23px;}
/*the code which can't share  width the  screen that=<768px   end*/
.greet-part01 .inside-page-con{padding-top: 10rem;}
.greet-part01 .banner-subtitle{width:35%;}
.greet-part01{background: url(../images/greet/01.jpg) no-repeat center center;width:100%;height: 874px;}
.greet-part02{background: url(../images/greet/02.jpg) no-repeat center center;width:100%;height:1000px;}
.greet-part03{background: url(../images/greet/03.jpg) no-repeat center center;width:100%;height:1000px;}
.greet-part04{background: url(../images/greet/04.jpg) no-repeat center center;width:100%;height:998px;}
.greet-part05{background: url(../images/greet/16.jpg) no-repeat center center;width:100%;height:996px;margin-top: -5px;}
.greet-part06{background: url(../images/greet/05.jpg) no-repeat center center;width:100%;height:1000px;}
.greet-part02 .subtitle{width:43%;}
.greet-part02 .inside-page-con{padding-top: 11rem;}
.greet-part03 .inside-page-con .subtitle,.greet-part03 .inside-page-con .maintitle{width:75%;margin-left:auto;margin-right: auto;}
.greet-part03 .inside-page-con{padding-top: 7rem;}
.greet-part04 .inside-page-con .maintitle{padding-top: 8rem;}
.greet-part04 .inside-page-con .subtitle,.greet-part04 .inside-page-con .maintitle{color:#fff;width:36%;text-align: center;margin-left:auto;margin-right: auto;}
.greet-part06 .inside-page-con .subtitle,.greet-part06 .inside-page-con .maintitle{color:#333;width:73%;text-align: center;margin-left:auto;margin-right: auto;}
.greet-part06 .inside-page-con .maintitle{padding-top: 6rem;}
.greet-part05 .inside-page-con .subtitle,.greet-part05 .inside-page-con .maintitle{color:#fff;width:77%;text-align: center;margin-left:auto;margin-right: auto;}
.greet-part05 .inside-page-con .maintitle{padding-top: 6rem;}
.greet-part07-left{float: left;width:40%;padding-top: 8rem;}
.greet-part07-left .subtitle{margin-bottom: 2.5rem;}
.greet-part07-right{float: right;padding-top: 6rem;}
.greet-part07 .inside-page-con{padding-bottom: 3rem;}
.greet-part05 .inside-page-con .subtitle{margin-bottom: 8rem;}
.greet-part09{padding-top: 5rem;}
.greet-part10 .swiper-container{width:100%;}
.greet-part10 .greet-part10-swipper{width:300%;}
.greet-part10 .greet-part10-swipper .greet-part10-slide{width:33.333%;}
.beam-part01{background: url(../images/beam/01.jpg) no-repeat center center;width:100%;height: 975px;}
.beam-part02{background: url(../images/beam/02.jpg) no-repeat center center;width:100%;height: 999px;margin-top: -22px;}
.beam-part03{background: url(../images/beam/03.jpg) no-repeat center center;width:100%;height: 1000px;}
.beam-part05{background: url(../images/beam/05.jpg) no-repeat center center;width:100%;height: 995px;}
.beam-part06{background: url(../images/beam/06.jpg) no-repeat center center;width:100%;height: 840px;}
.beam-part02 .maintitle{padding-top: 5rem;}
.beam-part02 .maintitle,.beam-part02 .subtitle{width:67%;margin: 0 auto;text-align: center;}
.beam-part02 .maintitle{margin-bottom: 1.1rem;}
.beam-part03 .inside-page-con{position: relative;}
.beam-part03-inside-page-con{position: absolute;left:23rem;top:38rem;}
.beam-part05 .maintitle,.beam-part05 .subtitle{width:84%;margin: 0 auto;text-align: center;}
.beam-part05 .maintitle{padding-top: 5rem;margin-bottom: 1.1rem;}
.beam-part06 .inside-page-con{position: relative;}
.beam-part06-inside-page-con{position: absolute;left:26rem;top:16rem;}
.torchpro-part01{background: url(../images/torchpro/01.jpg) no-repeat center center;width:100%;height: 1000px;}
.torchpro-part02{background: url(../images/torchpro/02.jpg) no-repeat center bottom;width:100%;height: 1100px;}
.torchpro-part03{background: url(../images/torchpro/03.jpg) no-repeat center center;width:100%;height: 518px;}
.torchpro-part04{background: url(../images/torchpro/04.jpg) no-repeat center center;width:100%;height: 874px;}
.torchpro-part05{/*background: url(../images/torchpro/05.jpg) no-repeat center center;height: 950px;*/width:100%;}
.torchpro-part06{background: url(../images/torchpro/06.jpg) no-repeat center center;width:100%;height: 595px;}
.torchpro-part07{background: url(../images/torchpro/07.jpg) no-repeat center center;width:100%;height: 1093px;}
.torchpro-part08{background: url(../images/torchpro/08.jpg) no-repeat center center;width:100%;height: 742px;}
/*.torchpro-part09{background: url(../images/torchpro/09.jpg) no-repeat center center;width:100%;height: 364px;}*/
.torchpro-part02 .inside-page-con{padding: 3rem 0rem;}
.torchpro-part02 .maintitle,.torchpro-part02 .subtitle{width:77%;text-align: center;margin: 0 auto;}
.torchpro-part02 .maintitle{margin-bottom: 1.1rem;}
.torchpro-part02 .subtitle{margin-bottom: 1.0rem;}
.torchpro-part03 .maintitle,.torchpro-part03 .subtitle{width:64%;text-align:left;color:#fff;}
.torchpro-part03 .maintitle{padding-top: 10rem;}
.torchpro-part04 .maintitle{margin-top: 16.5rem;}
.torchpro-part04 .maintitle,.torchpro-part04 .subtitle{width:36%;text-align: left;}
.torchpro-part07 .maintitle,.torchpro-part07 .subtitle{text-align: center;width:74%;margin: 0 auto;}
.torchpro-part07 .maintitle{padding-top: 10rem;margin-bottom: 1.1rem;}
.torchpro-part08-pic{margin-top: 3rem;}
}

@media screen and (max-width:1500px){
/*adjust  some details  about the main home page  on the screen=<1500   begin*/

/*adjust  some details  about the main home page  on the screen=<1500   end*/
}
@media screen and (max-width:1199px){
/*adjust  some details  about the main home page  on the screen=<1500   begin*/
.row-list-icon{margin: 0rem 0rem 1rem 0rem;}
.row  .row-list-tit{font-size: 1.4rem;line-height: 1.8rem;}
.row  .row-list-subtit{font-size: 1.0rem;line-height: 1.4rem;margin-top: 1.4rem;}
/*adjust  some details  about the main home page  on the screen=<1500   end*/
}
@media screen and (max-width:1023px){
/*common footer on the screen=<1023   begin    2016.09.27      written by jennifer*/
.footer-con .footer-item-copyright-pc{display: none;}
.footer-con .footer-link{width:100%;}
.footer-con .footer-link .footer-item-link-column{width:100%;border-bottom: 1px solid #e3e3e3;height: 3rem;line-height: 3rem;}
.footer-con .footer-link .footer-item-link-column:nth-child(7){border-bottom: 1px solid #f2f2f2;}
.footer-subscribe-share{width:100%;height: 2.5rem;}
.footer-con .footer-item-subscribe-text{height: 2.5rem;width:97%;}
.footer-item-subscribe{padding-left: 15px;width:auto;height: 2.5rem;}
.footer-con .footer-item-subscribe span{position: absolute;top:50%;right:15px;}
.footer-con .footer-share-item a{width:37.5px;height: 37.5px;line-height:37.5px;background:url("../images/icon-iphone.png") no-repeat;background-size: 307px  125px;}
.footer-con .footer-share-item07 {height: 37.5px;width:60px;}
.footer-con .footer-share-item07 a{width:60px;background: none;}
.footer-con .footer-share-item01 a{background-position: 0px -40px;}
.footer-con .footer-share-item02 a{background-position: -40px -40px;}
.footer-con .footer-share-item03 a{background-position: -80px -40px;}
.footer-con .footer-share-item04 a{background-position: -120px -40px;}
.footer-con .footer-share-item05 a{background-position: -160px -40px;}
.footer-con .footer-share-item06 a{background-position: -200px -42px;}
.footer-con .footer-share-item01 a:hover{background-position: 0px -89px;}
.footer-con .footer-share-item02 a:hover{background-position: -40px -89px;}
.footer-con .footer-share-item03 a:hover{background-position: -80px -89px;}
.footer-con .footer-share-item04 a:hover{background-position: -120px -89px;}
.footer-con .footer-share-item05 a:hover{background-position: -160px -89px;}
.footer-con .footer-share-item06 a:hover{background-position: -200px -91px;}
#zmodo-nav,#zmodo-footer{min-width: 320px;}
.press-con{width: 100%;margin: 0  auto;}
ul.press-con-item li.press-list07{background-position: -861px 0px;}
/*common footer on the screen=<1023  end      2016.09.27       written by jennifer*/
.nav-products-con{width:100%;}
.pivot-part03 .pivot-advantage .pivot-advantage-icon{width:9.5rem;height: 9.5rem;}
.pivot-part03 .pivot-advantage .pivot-advantage-icon01{margin-left: 0px;}
.pivot-part03 .pivot-advantage .pivot-advantage-icon03{margin-right: 0px;}
.product-pivot.pivot-part01 .banner-maintitle{padding-top: 9rem;}
.pivot-part06{background: #fdfdfd;}
.pivot-part06 .inside-page-con{text-align: center;padding-top: 2rem;}
.pivot-part06-phone-chart{display: inline-block;}
.product-pivot .maintitle{padding-top: 6rem;}
.pivot-part02 .pivot-press .pivot-press-item{height: 17rem;}
.pivot-part06{padding-bottom: 4rem;}
.pivot-part07-video{width:29rem;height: 16.5rem;margin: -8.25rem 0 0 -14.5rem}
.pivot-part10-video-box{width:500px;height: 312px;background-size: 500px 312px;padding: 31px 0px 0px 0px;}
.pivot-part10-video{width: 370px;height: 227px;margin-left: 66px;}
.pivot-part04{height: auto;}
.pivot-part04-con{width:100%;overflow: hidden;}
.pivot-part04-con-swiper{width:600%;position: relative;}
.pivot-part04-swiper-slide{width:16.666%;float: left;text-align: center;position: relative;}
.pivot-part04 .pivot-part04-swiper-slide .maintitle{position: absolute;top:3rem;left:10%;width:80%;text-align: center;margin-top:0rem;padding-top: 0rem;}
.pivot-part04 .pivot-part04-swiper-slide .subtitle{position: absolute;top:6rem;left:10%;width:80%;text-align: center;margin-top:0rem;padding-top: 0rem;}
.pivot-part04 .pivot-part04-swiper-slide04 .subtitle{top:7rem;}
.pivot-part04 .pivot-part04-swiper-slide05 .maintitle{top:3rem;left:15%;width:70%;}
.pivot-part04 .pivot-part04-swiper-slide05 .subtitle{top:7rem;left:15%;width:70%;}
.pivot-part04 .pivot-part04-swiper-slide06 .subtitle{top:7rem;}
.pivot-part11{height:736px; }
.pivot-part10{height: 641px;}
.product-pivot .maintitle{margin-top: 0rem;padding-top: 4rem;}
.pivot-part09{height: 955px;}
.pivot-part04 .swiper-container-horizontal>.swiper-pagination{bottom: 30px;}
.pivot-part05{margin-top: -8px;}
.pivot-part09 .subtitle{text-align: center;}
.greet-part05-list{width: 90%;height: 330px;margin: 0 auto;}
.greet-part05-item{width:33.333%;height:330px;float: left;}
.greet-part05-item span{width:100%;height:180px;display: inline-block;background: url(../images/greet/17.png) no-repeat }
.greet-part05-item p{color:#fff;}
.greet-part05-item01 p{width:233px;}
.greet-part05-item02 p{width:222px;margin: 0 auto;}
.greet-part05-item03 p{width:100%;float: right;}
.greet-part05-item01 span{background-position: 25px 0px;}
.greet-part05-item02 span{background-position: -340px 0px;}
.greet-part05-item03 span{background-position: -683px 0px;}
.greet-part05 .inside-page-con .subtitle{margin-bottom: 8rem;}
.greet-part08-list{width:100%;}
.beam-part03-inside-page-con{position: absolute;left: 17rem;top: 44rem;}
.greet-part10 .inside-page-con{margin-left: -49%;top:2rem;}
.torchpro-part05 .maintitle{padding-top: 5rem;}
.torchpro-part05-list{margin-top: 4rem;}
}

@media screen and (max-width:960px){
ul.press-con-item li.press-list05{background-position: -579px 0px;}
ul.press-con-item li.press-list06{background-position: -747px 0px;}
ul.press-con-item li.press-list07{background-position: -889px 0px;}
.nav-products-con .nav-products-item{width:18.6%;}
.pivot-part02 .pivot-press .pivot-press-item{height: 20rem;}
.pivot-part11-btn{margin-top: 0.5rem;}
.greet-part05-item02 span{background-position: -355px 0px;}
.greet-part05-item03 span{background-position: -734px 0px;}
.beam-part03-inside-page-con{position: absolute;left: 13rem;top: 44rem;}
.greet-part06-iphone{margin: 70px 165px 0px auto;}
.torchpro-part05 .maintitle{padding-top: 1rem;}
.torchpro-part05-item{width:15%;}
.torchpro-part05-list{margin-top: 2.5rem;}
}