/*common nav     begin      2016.09.22       written by jennier*/
#zmodo-nav{position:absolute;top:0;right:0;left:0;z-index:3;display:block;margin:0;width:100%;
height:48px;max-height:48px;background:#14b8e2;background:rgba(20,184,226);
-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.nav-con{margin:0 auto;max-width:980px;padding:0 22px;z-index:3;position: relative;}
.nav-con .nav-link{color:#fff;background-repeat: no-repeat;display: inline-block;letter-spacing:normal;opacity:1;
-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';-webkit-transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);-webkit-tap-highlight-color:transparent;}
.nav-con .nav-item{display:inline-block;position:relative;height:48px;z-index:1;vertical-align:top;line-height: 48px;}
.nav-con .nav-link-zmodo{background-repeat:no-repeat;background-size:140px 32px;
background-image:url("../images/logo.png");background-position:center center;width:140px;height:48px;}
.nav-con .nav-list{text-align: justify;width:auto;margin:0 -10px;}
.nav-con .nav-list:after{content:'';width:100%;display:inline-block;font-size:0;line-height:0;}
.nav-con .nav-link-user{background-repeat:no-repeat;background-size: 43px  23px;background-image:url("../images/header-icon-pc.png");background-position: -20px 2px;width:22px;height:30px;margin-top: 10px;}
.nav-searchview-con{position:absolute;top:0;left:16.66667%;width:66.66667%;z-index:3}
.nav-searchform-wrapper{padding-left:40px;position:relative;z-index:2;}
#nav-search-form{height: 48px;line-height: 48px;}
.nav-searchform-submit{left:0;position:absolute;z-index:1;top:0;width:21.5px;height:48px;background-size: 43px  23px;cursor:pointer;
background: url("../images/image_large.svg") no-repeat  0px 3px;}
.nav-searchform-input{background: transparent;width:90%;color:#fff;}
::-moz-placeholder {color: #fff; }
::-webkit-input-placeholder {color:#fff; }
:-ms-input-placeholder {color:#fff; }
.nav-con .nav-link-search{background: url("../images/header-icon-pc.png") no-repeat  0px 16px;width:21.5px;height:48px;background-size: 43px  23px;}
.nav-search-placeholder{display: none;}
.nav-searchview{opacity: 0;}
.nav-searchview-close{right:12px;opacity:1;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieopacity)';
filter:alpha(opacity=100);position:absolute;z-index:3;width:38px;height:48px;top:0;color:#fff;
cursor:pointer;-webkit-transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
transition:opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);-webkit-tap-highlight-color:transparent;background: transparent;}
.nav-searchview-close-wrapper{display:block;width:100%;height:100%}
.nav-searchview-close-left,.nav-searchview-close-right{height:12px;width:1px;background:#fff;position:absolute;display:block;top:14px;z-index:1;
transition:transform 0.25s ease-out;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
.nav-searchview-close-left{right:15px;/*-webkit-transform:scale3d(1, 0.65, 1);transform:scale3d(1, 0.65, 1);*/
-webkit-transform-origin:0 100%;-ms-transform-origin:0 100%;transform-origin:0 100%}
.nav-searchview-close-right{left:15px;/*-webkit-transform:scale3d(1, 0.65, 1);transform:scale3d(1, 0.65, 1);*/
-webkit-transform-origin:100% 100%;-ms-transform-origin:100% 100%;transform-origin:100% 100%}
#zmodo-nav.searchshow   .nav-searchview-close-left{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);
transition:transform 0.25s ease-out;}
#zmodo-nav.searchshow  .nav-searchview-close-right{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);
transition:transform 0.25s ease-out;}
.nav-header{display: none;cursor: pointer;}
#zmodo-nav{cursor: pointer;}
.nav-menuicon{cursor: pointer;}
#zmodo-nav-placeholder{height: 48px;}
/*common nav       end        2016.09.22        written by jennier*/
/*common footer on the screen>1023   begin     2016.09.27        written by jennier*/
#zmodo-footer{background: #f2f2f2;}
.footer-con{margin:0 auto;max-width:980px;padding:70px 22px;}
.footer-con .footer-list{text-align: justify;width:auto;margin:0px  -10px;}
.footer-con .footer-item{display: inline-block;vertical-align: top;}
.footer-con .footer-item .footer-item-link{display: inline-block;}
.footer-con .footer-item .footer-share-item{display: inline-block;margin-left: 3px;vertical-align: top;}
.footer-con .footer-item .footer-share-item06{margin-left: 26px;}
.footer-con .footer-item .footer-share-item01{margin-left: 0px;}
.footer-con .footer-link{width:500px;line-height: 30px;}
.footer-item-copyright-pc{width:150px;padding-right: 40px;font-size: 0.6rem;}
.footer-item-copyright{margin-top: 10px;color:#999999;}
.footer-subscribe-share{width:290px;margin-top: 10px;}
.footer-item-share{margin-top: 15px;}
.footer-con .footer-item-copyright-phone{display: none;}
.footer-con .footer-logo{width:150px;}
.footer-con .footer-link .footer-item-link-column01{width:18%;}
.footer-con .footer-link .footer-item-link-column02{width:30%;}
.footer-con .footer-link .footer-item-link-column03{width:30%;}
.footer-con .footer-link .footer-item-link-column04{width:14%;}
.footer-con .footer-item-subscribe span::before,.footer-con .footer-item-subscribe span::after{background: #999999;width:10px;height: 1px; content:"";display: block;}
.footer-item-subscribe{padding-left: 15px;height: 30px;width:275px;background: #fff;position: relative;cursor: pointer;}
.footer-con .footer-item-subscribe span:hover::before,.footer-con .footer-item-subscribe span:hover::after{background: #333333;}
.footer-con .footer-item-subscribe-text{height: 30px;color:#999999;width:250px;}
.footer-con .footer-item-subscribe span{position: absolute;top:15px;right:15px;color:#999999;}
.footer-con .footer-item-subscribe span::before{-webkit-transform-origin:100% 0%;-ms-transform-origin:100% 0%;transform-origin:100% 0%;
-webkit-transform:rotate(-40deg);-ms-transform:rotate(-40deg) ;transform: rotate(-40deg) ;position: absolute;top:0px;right:0px;}
.footer-con .footer-item-subscribe span::after{-webkit-transform-origin:100% 0%;-ms-transform-origin:100% 0%;transform-origin:100% 0%;
-webkit-transform:rotate(40deg) ;-ms-transform:rotate(40deg);transform: rotate(40deg) ;position: absolute;top:0px;right:0px;}
.footer-con .footer-share-item a{width:28px;height: 28px;line-height:28px;display: inline-block;background:url("../images/footer-share-icon.png") no-repeat;background-size: 195px  75px;}
.footer-con .footer-share-item07 {width:60px;height: 28px;}
.footer-con .footer-share-item07 a{width:60px;background: none;}
.footer-con .footer-share-item01 a{background-position: 0px -45px;}
.footer-con .footer-share-item02 a{background-position: -34px -45px;}
.footer-con .footer-share-item03 a{background-position: -67px -45px;}
.footer-con .footer-share-item04 a{background-position: -100px -45px;}
.footer-con .footer-share-item05 a{background-position: -135px -45px;}
.footer-con .footer-share-item06 a{background-position: -167px -45px;}
.footer-con .footer-share-item01 a:hover{background-position: 0px -1px;}
.footer-con .footer-share-item02 a:hover{background-position: -34px -1px;}
.footer-con .footer-share-item03 a:hover{background-position: -67px -1px;}
.footer-con .footer-share-item04 a:hover{background-position: -100px -1px;}
.footer-con .footer-share-item05 a:hover{background-position: -135px -1px;}
.footer-con .footer-share-item06 a:hover{background-position: -167px -2px;}
/*common footer on the screen>1023     end       2016.09.27         written by jennier*/

@media screen and (min-width:769px){
/*the code which can't   share  width the  screen that=<768px   begin*/
#zmodo-nav  .nav-con .nav-item-menu{opacity: 1;-webkit-transition:opacity 0.25s ease-out;transition:opacity 0.25s ease-out;}
#zmodo-nav.searchshow  .nav-con .nav-item-menu{-webkit-transition:opacity 0.25s ease-out;transition:opacity 0.25s ease-out;opacity: 0;}
#zmodo-nav   .nav-item-menu:nth-child(2){-webkit-transition-delay:0ms;transition-delay:0ms;}
#zmodo-nav   .nav-item-menu:nth-child(3){-webkit-transition-delay:30ms;transition-delay:30ms;}
#zmodo-nav   .nav-item-menu:nth-child(4){-webkit-transition-delay:50ms;transition-delay:50ms;}
#zmodo-nav   .nav-item-menu:nth-child(5){-webkit-transition-delay:100ms;transition-delay:100ms;}
#zmodo-nav   .nav-item-menu:nth-child(6){-webkit-transition-delay:150ms;transition-delay:150ms;}
#zmodo-nav   .nav-item-menu:nth-child(7){-webkit-transition-delay:200ms;transition-delay:200ms;}
#zmodo-nav   .nav-item-menu:nth-child(8){-webkit-transition-delay:250ms;transition-delay:250ms;}
#zmodo-nav  .nav-searchform-input,#zmodo-nav .nav-searchform-submit{-webkit-transform:translateX(100px);-ms-transform:translateX(100px);transform:translateX(100px);
-webkit-transition:-webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);transition:transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);}
#zmodo-nav.searchshow   .nav-searchform-input,#zmodo-nav.searchshow  .nav-searchform-submit{-webkit-transform:translateX(0px);-ms-transform:translateX(0px);transform:translateX(0px);
-webkit-transition:-webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);transition:transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);}
#zmodo-nav.searchshow  .nav-searchview{opacity: 1;}
.nav-searchview-close-left, .nav-searchview-close-right{height: 18px;}
.nav-searchview-close-left{right:12px;}
.nav-searchview-close-right{left:12px;}
.nav-searchform-submit{background: url("../images/header-icon-pc.png") no-repeat  0px 16px;width:17.5px;height: 48px;background-size: 43px 23px;}
/*the code which can't share  width the  screen that=<768px   end*/
}


@media screen and (max-width:1023px){
/*common footer on the screen=<1023   begin    2016.09.27      written by jennier*/
.footer-con .footer-item-copyright-pc{display: none;}
.footer-con .footer-link{width:100%;}
.footer-con .footer-link .footer-item-link-column{width:100%;border-bottom: 1px solid #e3e3e3;height: 3rem;line-height: 3rem;}
.footer-con .footer-link .footer-item-link-column:nth-child(7){border-bottom: 1px solid #f2f2f2;}
.footer-subscribe-share{width:100%;height: 2.5rem;}
.footer-con .footer-item-subscribe-text{height: 2.5rem;width:97%;}
.footer-item-subscribe{padding-left: 15px;width:auto;height: 2.5rem;}
.footer-con .footer-item-subscribe span{position: absolute;top:50%;right:15px;}
.footer-con .footer-share-item a{width:37.5px;height: 37.5px;line-height:37.5px;background:url("../images/icon-iphone.png") no-repeat;background-size: 307px  125px;}
.footer-con .footer-share-item07 {height: 37.5px;width:60px;}
.footer-con .footer-share-item07 a{width:60px;background: none;}
.footer-con .footer-share-item01 a{background-position: 0px -40px;}
.footer-con .footer-share-item02 a{background-position: -40px -40px;}
.footer-con .footer-share-item03 a{background-position: -80px -40px;}
.footer-con .footer-share-item04 a{background-position: -120px -40px;}
.footer-con .footer-share-item05 a{background-position: -160px -40px;}
.footer-con .footer-share-item06 a{background-position: -200px -42px;}
.footer-con .footer-share-item01 a:hover{background-position: 0px -89px;}
.footer-con .footer-share-item02 a:hover{background-position: -40px -89px;}
.footer-con .footer-share-item03 a:hover{background-position: -80px -89px;}
.footer-con .footer-share-item04 a:hover{background-position: -120px -89px;}
.footer-con .footer-share-item05 a:hover{background-position: -160px -89px;}
.footer-con .footer-share-item06 a:hover{background-position: -200px -91px;}
#zmodo-nav,#zmodo-footer{min-width: 320px;}
/*common footer on the screen=<1023  end      2016.09.27       written by jennier*/
}